In [4]:
import pandas as pd
data = pd.read_excel("amazon.xlsx") # read data of excel file
print(data)

                                            phone_name     Brand  \
0    Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...   Samsung
1    Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB ...   Samsung
2    Redmi 9A Sport (Coral Green, 2GB RAM, 32GB Sto...     Redmi
3    I KALL Z4 Smartphone (5.5 Inch Display, 4GB, 3...    I Kall
4    Redmi 9A Sport (Carbon Black, 2GB RAM, 32GB St...     Redmi
..                                                 ...       ...
364  (Renewed) Nokia G21 Android Smartphone, Dual S...  (Renewed
365                                                NaN       NaN
366                                                NaN       NaN
367                                                NaN       NaN
368                                                NaN       NaN

     ratting_out_of_five Rated_people Offered_price_in_rupee  \
0                    4.4       17,194                 39,990
1                    4.1       44,417                 14,999
2                    4.2      178,833                  6,999
3                    NaN          NaN                  4,999
4                    4.2      178,833                  6,999
..                   ...          ...                    ...
364                  3.0            4                 12,499
365                  NaN          NaN                    NaN
366                  NaN          NaN                    NaN
367                  NaN          NaN                    NaN
368                  NaN          NaN                    NaN

     real_rice_in_rupee  Percent_off
0               74999.0         47.0
1               16999.0         12.0
2                8499.0         18.0
3                6499.0         23.0
4                7999.0         13.0
..                  ...          ...
364             14499.0         13.0
365                 NaN          NaN
366                 NaN          NaN
367                 NaN          NaN
368                 NaN          NaN

[369 rows x 7 columns]

In [8]:
print(data.head(5))  # print 5 rows

                                          phone_name    Brand  \
0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...  Samsung
1  Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB ...  Samsung
2  Redmi 9A Sport (Coral Green, 2GB RAM, 32GB Sto...    Redmi
3  I KALL Z4 Smartphone (5.5 Inch Display, 4GB, 3...   I Kall
4  Redmi 9A Sport (Carbon Black, 2GB RAM, 32GB St...    Redmi

   ratting_out_of_five Rated_people Offered_price_in_rupee  \
0                  4.4       17,194                 39,990
1                  4.1       44,417                 14,999
2                  4.2      178,833                  6,999
3                  NaN          NaN                  4,999
4                  4.2      178,833                  6,999

   real_rice_in_rupee  Percent_off
0             74999.0         47.0
1             16999.0         12.0
2              8499.0         18.0
3              6499.0         23.0
4              7999.0         13.0

In [9]:
print(data.tail(5)) # print last 5 rows

                                            phone_name     Brand  \
364  (Renewed) Nokia G21 Android Smartphone, Dual S...  (Renewed
365                                                NaN       NaN
366                                                NaN       NaN
367                                                NaN       NaN
368                                                NaN       NaN

     ratting_out_of_five Rated_people Offered_price_in_rupee  \
364                  3.0            4                 12,499
365                  NaN          NaN                    NaN
366                  NaN          NaN                    NaN
367                  NaN          NaN                    NaN
368                  NaN          NaN                    NaN

     real_rice_in_rupee  Percent_off
364             14499.0         13.0
365                 NaN          NaN
366                 NaN          NaN
367                 NaN          NaN
368                 NaN          NaN

In [11]:
print(data.columns)  # print only headers

Index(['phone_name', 'Brand', 'ratting_out_of_five', 'Rated_people',
       'Offered_price_in_rupee', 'real_rice_in_rupee', 'Percent_off'],
      dtype='object')

In [18]:
print(data["Brand"])# print particular column name
print(data["Brand"][0:5]) # print only first 5 rows

0       Samsung
1       Samsung
2         Redmi
3        I Kall
4         Redmi
         ...
364    (Renewed
365         NaN
366         NaN
367         NaN
368         NaN
Name: Brand, Length: 369, dtype: object
0    Samsung
1    Samsung
2      Redmi
3     I Kall
4      Redmi
Name: Brand, dtype: object

In [22]:
print(data[["phone_name", "Brand", "ratting_out_of_five"]][0:5]) # print multiple columns

                                          phone_name    Brand  \
0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...  Samsung
1  Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB ...  Samsung
2  Redmi 9A Sport (Coral Green, 2GB RAM, 32GB Sto...    Redmi
3  I KALL Z4 Smartphone (5.5 Inch Display, 4GB, 3...   I Kall
4  Redmi 9A Sport (Carbon Black, 2GB RAM, 32GB St...    Redmi

   ratting_out_of_five
0                  4.4
1                  4.1
2                  4.2
3                  NaN
4                  4.2

In [23]:
# reading first 5 rows
print(data.head(5))

                                          phone_name    Brand  \
0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...  Samsung
1  Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB ...  Samsung
2  Redmi 9A Sport (Coral Green, 2GB RAM, 32GB Sto...    Redmi
3  I KALL Z4 Smartphone (5.5 Inch Display, 4GB, 3...   I Kall
4  Redmi 9A Sport (Carbon Black, 2GB RAM, 32GB St...    Redmi

   ratting_out_of_five Rated_people Offered_price_in_rupee  \
0                  4.4       17,194                 39,990
1                  4.1       44,417                 14,999
2                  4.2      178,833                  6,999
3                  NaN          NaN                  4,999
4                  4.2      178,833                  6,999

   real_rice_in_rupee  Percent_off
0             74999.0         47.0
1             16999.0         12.0
2              8499.0         18.0
3              6499.0         23.0
4              7999.0         13.0

In [24]:
# reading rows using iloc date 
print(data.iloc[5:10])

                                          phone_name   Brand  \
5      Jio Next 32 GB ROM, 2 GB RAM, Blue Smartphone     Jio
6  Redmi Note 10 Pro (Vintage Bronze, 6GB RAM, 12...   Redmi
7  Redmi 10 Prime (Phantom Black 4GB RAM 64GB | H...   Redmi
8  Redmi Note 11 (Space Black, 4GB RAM, 64GB Stor...   Redmi
9  realme narzo 50i (Mint Green, 2GB RAM+32GB Sto...  realme

   ratting_out_of_five Rated_people Offered_price_in_rupee  \
5                  3.6        1,071                  4,500
6                  4.2       67,933                 15,999
7                  4.1       46,562                 11,499
8                  4.1       29,838                 12,999
9                  4.0       19,708                  7,499

   real_rice_in_rupee  Percent_off
5              7299.0         38.0
6             19999.0         20.0
7             14999.0         23.0
8             17999.0         28.0
9              7999.0          6.0

In [29]:
# reading a specific data using index
print(data.iloc[1])

print(data.iloc[1,1]) # reading a specific cell

phone_name                Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB ...
Brand                                                               Samsung
ratting_out_of_five                                                     4.1
Rated_people                                                         44,417
Offered_price_in_rupee                                               14,999
real_rice_in_rupee                                                    16999
Percent_off                                                              12
Name: 1, dtype: object
Samsung

In [35]:
# iterate 
for index,row in data.iterrows():
    print(index,row[0:2])

0 phone_name    Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...
Brand                                                   Samsung
Name: 0, dtype: object
1 phone_name    Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB ...
Brand                                                   Samsung
Name: 1, dtype: object
2 phone_name    Redmi 9A Sport (Coral Green, 2GB RAM, 32GB Sto...
Brand                                                     Redmi
Name: 2, dtype: object
3 phone_name    I KALL Z4 Smartphone (5.5 Inch Display, 4GB, 3...
Brand                                                    I Kall
Name: 3, dtype: object
4 phone_name    Redmi 9A Sport (Carbon Black, 2GB RAM, 32GB St...
Brand                                                     Redmi
Name: 4, dtype: object
5 phone_name    Jio Next 32 GB ROM, 2 GB RAM, Blue Smartphone
Brand                                                   Jio
Name: 5, dtype: object
6 phone_name    Redmi Note 10 Pro (Vintage Bronze, 6GB RAM, 12...
Brand                                                     Redmi
Name: 6, dtype: object
7 phone_name    Redmi 10 Prime (Phantom Black 4GB RAM 64GB | H...
Brand                                                     Redmi
Name: 7, dtype: object
8 phone_name    Redmi Note 11 (Space Black, 4GB RAM, 64GB Stor...
Brand                                                     Redmi
Name: 8, dtype: object
9 phone_name    realme narzo 50i (Mint Green, 2GB RAM+32GB Sto...
Brand                                                    realme
Name: 9, dtype: object
10 phone_name    Samsung Galaxy M33 5G (Emerald Brown, 6GB, 128...
Brand                                                   Samsung
Name: 10, dtype: object
11 phone_name    Samsung Galaxy M53 5G (Emerald Brown, 6GB, 128...
Brand                                                   Samsung
Name: 11, dtype: object
12 phone_name    Redmi Note 11 (Horizon Blue, 6GB RAM, 128GB St...
Brand                                                     Redmi
Name: 12, dtype: object
13 phone_name    OPPO A74 5G (Fluid Black, 6GB RAM, 128GB Stora...
Brand                                                      OPPO
Name: 13, dtype: object
14 phone_name    Nokia G21 Android Smartphone, Dual SIM, 3-Day ...
Brand                                                     Nokia
Name: 14, dtype: object
15 phone_name    Redmi 10A (Slate Grey, 4GB RAM, 64GB Storage)
Brand                                                 Redmi
Name: 15, dtype: object
16 phone_name    Jio Jio Phone Next 32 GB ROM, 2 GB RAM, Blue, ...
Brand                                                       Jio
Name: 16, dtype: object
17 phone_name    iQOO vivo Z6 44W (Lumina Blue, 6GB RAM, 128GB ...
Brand                                                      iQOO
Name: 17, dtype: object
18 phone_name    Redmi 9 Activ (Carbon Black, 4GB RAM, 64GB Sto...
Brand                                                     Redmi
Name: 18, dtype: object
19 phone_name    Tecno POVA 3 (Eco Black, 6GB RAM, 128GB Storag...
Brand                                                     Tecno
Name: 19, dtype: object
20 phone_name    Tecno Camon 19 Neo (Ice Mirror, 6GB RAM, 128GB...
Brand                                                     Tecno
Name: 20, dtype: object
21 phone_name    Tecno Spark 9 (Infinity Black, 6GB RAM, 128GB ...
Brand                                                     Tecno
Name: 21, dtype: object
22 phone_name    Samsung Galaxy S20 FE 5G (Cloud Mint, 8GB RAM,...
Brand                                                   Samsung
Name: 22, dtype: object
23 phone_name    Samsung Galaxy M32 (Light Blue, 6GB RAM, 128GB...
Brand                                                   Samsung
Name: 23, dtype: object
24 phone_name    I KALL Z9 Smartphone (6 Inch, 3GB, 32GB) (Blue)
Brand                                                  I Kall
Name: 24, dtype: object
25 phone_name    realme narzo 50i (Mint Green, 4GB RAM+64GB Sto...
Brand                                                    realme
Name: 25, dtype: object
26 phone_name    OPPO A15s (Dynamic Black, 4GB RAM, 64GB Storag...
Brand                                                      OPPO
Name: 26, dtype: object
27 phone_name    Redmi 9A Sport (Coral Green, 3GB RAM, 32GB Sto...
Brand                                                     Redmi
Name: 27, dtype: object
28 phone_name    Redmi 9A(Midnight Black 3GB RAM 32GB Storage) ...
Brand                                                     Redmi
Name: 28, dtype: object
29 phone_name    Redmi 10A (Charcoal Black, 3GB RAM, 32GB Storage)
Brand                                                     Redmi
Name: 29, dtype: object
30 phone_name    realme narzo 50i (Carbon Black, 2GB RAM+32GB S...
Brand                                                    realme
Name: 30, dtype: object
31 phone_name    Redmi 9A Sport (Metallic Blue, 3GB RAM, 32GB S...
Brand                                                     Redmi
Name: 31, dtype: object
32 phone_name    Samsung Galaxy M13 (Stardust Brown, 6GB, 128GB...
Brand                                                   Samsung
Name: 32, dtype: object
33 phone_name    Samsung Galaxy M53 5G (Emerald Brown, 8GB, 128...
Brand                                                   Samsung
Name: 33, dtype: object
34 phone_name    Redmi 9 Activ (Coral Green, 4GB RAM, 64GB Stor...
Brand                                                     Redmi
Name: 34, dtype: object
35 phone_name    Redmi 10A Sport Slate Grey 6GB RAM 128GB ROM
Brand                                                Redmi
Name: 35, dtype: object
36 phone_name    I KALL Z1 Smartphone (5.5 Inch, 4GB, 32GB, Dua...
Brand                                                    I Kall
Name: 36, dtype: object
37 phone_name    Redmi 10A Sport Sea Blue 6GB RAM 128GB ROM
Brand                                              Redmi
Name: 37, dtype: object
38 phone_name    Tecno Spark 9 (Sky Mirror, 4GB RAM, 64GB Stora...
Brand                                                     Tecno
Name: 38, dtype: object
39 phone_name    Tecno Spark 9 (Sky Mirror, 6GB RAM, 128GB Stor...
Brand                                                     Tecno
Name: 39, dtype: object
40 phone_name    Jio Phone Next 32 GB ROM, 2 GB RAM, Black Smar...
Brand                                                       Jio
Name: 40, dtype: object
41 phone_name    SHIVANSH LYF C451 (, 8 GB) (1 GB RAM) Color AS...
Brand                                              SHIVANSH LYF
Name: 41, dtype: object
42 phone_name    Tecno Spark 9 (Sky Mirror, 6GB RAM, 128GB Stor...
Brand                                                     Tecno
Name: 42, dtype: object
43 phone_name    Samsung Galaxy M33 5G (Mystique Green, 6GB, 12...
Brand                                                   Samsung
Name: 43, dtype: object
44 phone_name    Samsung Galaxy M13 (Aqua Green, 6GB, 128GB Sto...
Brand                                                   Samsung
Name: 44, dtype: object
45 phone_name    Samsung Galaxy S20 FE 5G (Cloud Lavender, 8GB ...
Brand                                                   Samsung
Name: 45, dtype: object
46 phone_name    Samsung Galaxy M13 (Aqua Green, 4GB, 64GB Stor...
Brand                                                   Samsung
Name: 46, dtype: object
47 phone_name    Nokia C01 Plus 4G, 5.45” HD+ Screen, Selfie Ca...
Brand                                                     Nokia
Name: 47, dtype: object
48 phone_name    Samsung Galaxy M32 (Black, 4GB RAM, 64GB | FHD...
Brand                                                   Samsung
Name: 48, dtype: object
49 phone_name    Jio Next 32 GB, 2 GB RAM, Blue Smartphone
Brand                                               Jio
Name: 49, dtype: object
50 phone_name    Redmi 10 (Caribbean Green, 4GB RAM, 64GB Storage)
Brand                                                     Redmi
Name: 50, dtype: object
51 phone_name    Redmi Note 10T 5G (Chromium White 4GB RAM, 64G...
Brand                                                     Redmi
Name: 51, dtype: object
52 phone_name    Samsung Galaxy M52 5G (Blazing Black, 6GB RAM,...
Brand                                                   Samsung
Name: 52, dtype: object
53 phone_name    Redmi 10A (Charcoal Black, 4GB RAM, 64GB Storage)
Brand                                                     Redmi
Name: 53, dtype: object
54 phone_name    Samsung Galaxy M32 (Black, 6GB RAM, 128GB | FH...
Brand                                                   Samsung
Name: 54, dtype: object
55 phone_name    Vivo Y72 5G (Slate Gray, 8GB RAM, 128GB Storag...
Brand                                                      Vivo
Name: 55, dtype: object
56 phone_name    Redmi 9A Sport (Metallic Blue, 2GB RAM, 32GB S...
Brand                                                     Redmi
Name: 56, dtype: object
57 phone_name    I KALL Z5 Smartphone (3GB, 16GB) | Android 10....
Brand                                                    I Kall
Name: 57, dtype: object
58 phone_name    Nuveck KARBONN Aura Power 4G+ (Champagne, 8 GB...
Brand                                                    Nuveck
Name: 58, dtype: object
59 phone_name    realme narzo 50A (Oxygen Blue , 4GB RAM + 128 ...
Brand                                                    realme
Name: 59, dtype: object
60 phone_name    Redmi Note 11 (Starburst White, 4GB RAM, 64GB ...
Brand                                                     Redmi
Name: 60, dtype: object
61 phone_name    OPPO A31 (Mystery Black, 6GB RAM, 128GB Storag...
Brand                                                      OPPO
Name: 61, dtype: object
62 phone_name    Lava Z21 (2GB RAM, 32GB ROM)-Cyan| Octa Core P...
Brand                                                      Lava
Name: 62, dtype: object
63 phone_name    Redmi Note 11 (Horizon Blue, 4GB RAM, 64GB Sto...
Brand                                                     Redmi
Name: 63, dtype: object
64 phone_name    Samsung Galaxy M53 5G (Mystique Green, 6GB, 12...
Brand                                                   Samsung
Name: 64, dtype: object
65 phone_name    Samsung Galaxy M33 5G (Mystique Green, 8GB, 12...
Brand                                                   Samsung
Name: 65, dtype: object
66 phone_name    Samsung Galaxy M13 (Midnight Blue, 6GB, 128GB ...
Brand                                                   Samsung
Name: 66, dtype: object
67 phone_name    Samsung Galaxy M32 (Black, 4GB RAM, 64GB | FHD...
Brand                                                   Samsung
Name: 67, dtype: object
68 phone_name    Redmi Note 11 (Horizon Blue, 4GB RAM, 64GB Sto...
Brand                                                     Redmi
Name: 68, dtype: object
69 phone_name    OnePlus Nord CE 2 5G (Bahamas Blue, 8GB RAM, 1...
Brand                                                   OnePlus
Name: 69, dtype: object
70 phone_name    OPPO A15s (Rainbow Silver, 4GB RAM, 64GB Stora...
Brand                                                      OPPO
Name: 70, dtype: object
71 phone_name    Nokia 2.3 Android 10 Smartphone 2GB RAM, 32GB ...
Brand                                                     Nokia
Name: 71, dtype: object
72 phone_name    vivo iQOO Z6 44W (Raven Black, 8GB RAM, 128GB ...
Brand                                                      vivo
Name: 72, dtype: object
73 phone_name    Lava X2 (2+32GB, Striped Cyan) | Fingerprint S...
Brand                                                      Lava
Name: 73, dtype: object
74 phone_name    OnePlus Nord CE 2 Lite 5G (Black Dusk, 6GB RAM...
Brand                                                   OnePlus
Name: 74, dtype: object
75 phone_name    OnePlus Nord CE 2 Lite 5G (Blue Tide, 6GB RAM,...
Brand                                                   OnePlus
Name: 75, dtype: object
76 phone_name    Samsung Galaxy M53 5G (Mystique Green, 8GB, 12...
Brand                                                   Samsung
Name: 76, dtype: object
77 phone_name    OPPO A15s (Dynamic Black, 4GB RAM, 64GB Storag...
Brand                                                      OPPO
Name: 77, dtype: object
78 phone_name    OPPO A74 5G (Fantastic Purple,6GB RAM,128GB St...
Brand                                                      OPPO
Name: 78, dtype: object
79 phone_name    Redmi 10A (Slate Grey, 3GB RAM, 32GB Storage)
Brand                                                 Redmi
Name: 79, dtype: object
80 phone_name    Redmi Note 10 Pro (Dark Night, 6GB RAM, 128GB ...
Brand                                                     Redmi
Name: 80, dtype: object
81 phone_name    Nokia C01 Plus 4G, 5.45” HD+ Screen, Selfie Ca...
Brand                                                     Nokia
Name: 81, dtype: object
82 phone_name    Redmi Note 10T 5G (Mint Green, 4GB RAM, 64GB S...
Brand                                                     Redmi
Name: 82, dtype: object
83 phone_name    Samsung Galaxy M13 (Midnight Blue, 4GB, 64GB S...
Brand                                                   Samsung
Name: 83, dtype: object
84 phone_name    OnePlus Nord CE 2 5G (Gray Mirror, 8GB RAM, 12...
Brand                                                   OnePlus
Name: 84, dtype: object
85 phone_name    Samsung Galaxy A13 Blue, 6GB RAM, 128GB Storag...
Brand                                                   Samsung
Name: 85, dtype: object
86 phone_name    Samsung Galaxy M33 5G (Deep Ocean Blue, 6GB, 1...
Brand                                                   Samsung
Name: 86, dtype: object
87 phone_name    I KALL Z5 Smartphone (3GB, 16GB) | Android 10....
Brand                                                    I Kall
Name: 87, dtype: object
88 phone_name    Samsung Galaxy M13 (Aqua Green, 4GB, 64GB Stor...
Brand                                                   Samsung
Name: 88, dtype: object
89 phone_name    Samsung Galaxy M53 5G (Deep Ocean Blue, 6GB, 1...
Brand                                                   Samsung
Name: 89, dtype: object
90 phone_name    Tecno Pop 5 LTE(Deepsea Luster 2G+32GB)| 6.52"...
Brand                                                     Tecno
Name: 90, dtype: object
91 phone_name    Redmi Note 10 Pro Max (Vintage Bronze, 6GB RAM...
Brand                                                     Redmi
Name: 91, dtype: object
92 phone_name    Nokia C01 Plus 4G, 5.45” HD+ Screen, Selfie Ca...
Brand                                                     Nokia
Name: 92, dtype: object
93 phone_name    Redmi 9 Activ (Metallic Purple, 6GB RAM, 128GB...
Brand                                                     Redmi
Name: 93, dtype: object
94 phone_name    itel A23 Pro_Open Version (5'' FWVGA Bright Di...
Brand                                                      itel
Name: 94, dtype: object
95 phone_name    I KALL Z5 Smartphone (3GB, 16GB) | Android 10....
Brand                                                    I Kall
Name: 95, dtype: object
96 phone_name    Samsung Galaxy M13 (Midnight Blue, 6GB, 128GB ...
Brand                                                   Samsung
Name: 96, dtype: object
97 phone_name    realme narzo 50i (Carbon Black, 4GB RAM+64GB S...
Brand                                                    realme
Name: 97, dtype: object
98 phone_name    Samsung Galaxy M33 5G (Deep Ocean Blue, 8GB, 1...
Brand                                                   Samsung
Name: 98, dtype: object
99 phone_name    I KALL Z5 Smartphone (3GB, 16GB) | Android 10....
Brand                                                    I Kall
Name: 99, dtype: object
100 phone_name    Nokia C21 Plus Android Smartphone, Dual SIM, 3...
Brand                                                     Nokia
Name: 100, dtype: object
101 phone_name    Lava Z21 (2GB RAM, 32GB ROM)-Blue| Octa Core P...
Brand                                                      Lava
Name: 101, dtype: object
102 phone_name    Tecno Camon 19 Neo (Ice Mirror, 6GB RAM, 128GB...
Brand                                                     Tecno
Name: 102, dtype: object
103 phone_name    Nokia 5.1 Plus (Black, 32 GB) (3 GB RAM)
Brand                                            Nokia
Name: 103, dtype: object
104 phone_name    Redmi Note 10T 5G (Graphite Black, 4GB RAM, 64...
Brand                                                     Redmi
Name: 104, dtype: object
105 phone_name    realme narzo 50A Prime (Flash Black, 4GB RAM+6...
Brand                                                    realme
Name: 105, dtype: object
106 phone_name    Samsung Galaxy M32 5G (Slate Black, 8GB RAM, 1...
Brand                                                   Samsung
Name: 106, dtype: object
107 phone_name    OPPO A15s (Fancy White, 4GB RAM, 64GB Storage)...
Brand                                                      OPPO
Name: 107, dtype: object
108 phone_name    I KALL Z4 Smartphone (5.5 Inch Display, 4GB, 3...
Brand                                                    I Kall
Name: 108, dtype: object
109 phone_name    I KALL K401 Smartphone (6.26 HD+ Display, 4GB,...
Brand                                                    I Kall
Name: 109, dtype: object
110 phone_name    Samsung Galaxy M13 5G (Aqua Green, 6GB, 128GB ...
Brand                                                   Samsung
Name: 110, dtype: object
111 phone_name    Samsung Galaxy M53 5G (Deep Ocean Blue, 8GB, 1...
Brand                                                   Samsung
Name: 111, dtype: object
112 phone_name    Samsung Galaxy M13 (Aqua Green, 6GB, 128GB Sto...
Brand                                                   Samsung
Name: 112, dtype: object
113 phone_name    Samsung Galaxy M33 5G (Deep Ocean Blue, 8GB, 1...
Brand                                                   Samsung
Name: 113, dtype: object
114 phone_name    Redmi Note 10S (Deep Sea Blue, 6GB RAM, 64GB S...
Brand                                                     Redmi
Name: 114, dtype: object
115 phone_name    I KALL Z9 Smartphone (6 Inch, 3GB, 32GB) (Green)
Brand                                                   I Kall
Name: 115, dtype: object
116 phone_name    I KALL Z1 Smartphone (5.5 Inch, 4GB, 32GB, Dua...
Brand                                                    I Kall
Name: 116, dtype: object
117 phone_name    Tecno Pop 5 LTE(Turquoise Cyan 2G+32GB)| 6.52"...
Brand                                                     Tecno
Name: 117, dtype: object
118 phone_name    Tecno Spark 9 (Infinity Black, 6GB RAM, 128GB ...
Brand                                                     Tecno
Name: 118, dtype: object
119 phone_name    Redmi Note 11 (Space Black, 6GB RAM, 64GB Stor...
Brand                                                     Redmi
Name: 119, dtype: object
120 phone_name    (Renewed) Samsung Galaxy Z Flip3 5G (Phantom B...
Brand                                         (Renewed) Samsung
Name: 120, dtype: object
121 phone_name    I KALL Z8 4G Smartphone (5.5 Inch, 3GB, 16GB) ...
Brand                                                    I Kall
Name: 121, dtype: object
122 phone_name    MOTOROLA e32s (Slate Gray, 3GB RAM 32GB Storage)
Brand                                                 MOTOROLA
Name: 122, dtype: object
123 phone_name    Tecno Camon 19 Neo (Eco Black, 6GB RAM, 128GB ...
Brand                                                     Tecno
Name: 123, dtype: object
124 phone_name    Tecno Spark 8T (Atlantic Blue,7GB Expandable R...
Brand                                               Tecno Spark
Name: 124, dtype: object
125 phone_name    OnePlus Nord 2T 5G (Gray Shadow, 8GB RAM, 128G...
Brand                                                   OnePlus
Name: 125, dtype: object
126 phone_name    Samsung Galaxy M33 5G (Mystique Green, 8GB, 12...
Brand                                                   Samsung
Name: 126, dtype: object
127 phone_name    I KALL Z8 4G Smartphone (5.5 Inch, 3GB, 16GB) ...
Brand                                                    I Kall
Name: 127, dtype: object
128 phone_name    realme C11 (2021) (Cool Blue, 2GB RAM, 32GB St...
Brand                                                  realme C
Name: 128, dtype: object

225 phone_name    MOTOROLA e32s (Misty Silver, 4GB RAM 64GB Stor...
Brand                                                  MOTOROLA
Name: 225, dtype: object
226 phone_name    Redmi 10 Prime (Phantom Black 6GB RAM 128GB RO...
Brand                                                     Redmi
Name: 226, dtype: object
227 phone_name    Samsung Galaxy M53 5G (Deep Ocean Blue, 6GB, 1...
Brand                                                   Samsung
Name: 227, dtype: object
228 phone_name    I KALL Z8 4G Smartphone (5.5 Inch, 3GB, 16GB) ...
Brand                                                    I Kall
Name: 228, dtype: object
229 phone_name    Micromax X809 (Blue, Anti Theft, 1000mAh)
Brand                                          Micromax
Name: 229, dtype: object
230 phone_name    Redmi Note 11 Pro + 5G (Stealth Black, 6GB RAM...
Brand                                                     Redmi
Name: 230, dtype: object
231 phone_name    (Renewed) Nokia C01 Plus 4G, 5.45” HD+ Screen,...
Brand                                                  (Renewed
Name: 231, dtype: object
232 phone_name    OnePlus 10R 5G (Sierra Black, 8GB RAM, 128GB S...
Brand                                                   OnePlus
Name: 232, dtype: object
233 phone_name    Nokia 105 Single SIM (Black)
Brand                                Nokia
Name: 233, dtype: object
234 phone_name    Redmi K50i 5G (Phantom Blue, 8GB RAM, 256GB St...
Brand                                                     Redmi
Name: 234, dtype: object
235 phone_name    Nokia C21 Plus Android Smartphone, Dual SIM, 3...
Brand                                                     Nokia
Name: 235, dtype: object
236 phone_name    Nokia C20 Plus, 6.5"(16.51cm) HD+ Screen, 4950...
Brand                                                     Nokia
Name: 236, dtype: object
237 phone_name    Jio Phone Next 32 GB ROM, 2 GB RAM, Black Smar...
Brand                                                       Jio
Name: 237, dtype: object
238 phone_name    OnePlus Nord 2T 5G (Jade Fog, 12GB RAM, 256GB ...
Brand                                                   OnePlus
Name: 238, dtype: object
239 phone_name    Redmi Note 10T 5G (Metallic Blue, 4GB RAM, 64G...
Brand                                                     Redmi
Name: 239, dtype: object
240 phone_name    Micromax X512 Anniversary Edition 1750 mAh, To...
Brand                                                  Micromax
Name: 240, dtype: object
241 phone_name    Samsung Galaxy M33 5G (Deep Ocean Blue, 6GB, 1...
Brand                                                   Samsung
Name: 241, dtype: object
242 phone_name    Infinix Hot 11 2022 (Aurora Green, 4GB RAM 64G...
Brand                                                   Infinix
Name: 242, dtype: object
243 phone_name    Samsung Galaxy M13 5G (Aqua Green, 4GB, 64GB S...
Brand                                                   Samsung
Name: 243, dtype: object
244 phone_name    (Renewed) Nokia C01 Plus 4G, Android 11 (Go Ed...
Brand                                           (Renewed) Nokia
Name: 244, dtype: object
245 phone_name    Oppo A54 (Crystal Black, 6GB RAM, 128GB Storag...
Brand                                                      Oppo
Name: 245, dtype: object
246 phone_name    Redmi Note 10S (Cosmic Purple, 8GB RAM,128 GB ...
Brand                                                     Redmi
Name: 246, dtype: object
247 phone_name    Tecno Spark 8T (Turquoise Cyan,7GB Expandable ...
Brand                                                     Tecno
Name: 247, dtype: object
248 phone_name    Lava Z3 Pro (3GB RAM, 32GB Storage)- Cyan | Hi...
Brand                                                      Lava
Name: 248, dtype: object
249 phone_name    Redmi Note 11S (Polar White, 8GB RAM, 128GB St...
Brand                                                     Redmi
Name: 249, dtype: object
250 phone_name    Samsung Galaxy M32 5G (Sky Blue, 6GB RAM, 128G...
Brand                                                   Samsung
Name: 250, dtype: object
251 phone_name    I KALL K460 Smartphone (5.5 Inch, 3GB, 16GB) (...
Brand                                                    I Kall
Name: 251, dtype: object
252 phone_name    I KALL K570 Smartphone (6.53 Inch HD+ Display,...
Brand                                                    I Kall
Name: 252, dtype: object
253 phone_name    Xiaomi 11 Lite NE 5G (Jazz Blue 6GB RAM 128 GB...
Brand                                                    Xiaomi
Name: 253, dtype: object
254 phone_name    I KALL K475 Smartphone (4GB, 64GB) (Sky Blue)
Brand                                                I Kall
Name: 254, dtype: object
255 phone_name    Panasonic Eluga i7 (2GB RAM, 16GB Storage, Fin...
Brand                                                 Panasonic
Name: 255, dtype: object
256 phone_name    (Renewed) Nokia G21 Android Smartphone, Dual S...
Brand                                                  (Renewed
Name: 256, dtype: object
257 phone_name    Samsung Galaxy S20 FE 5G (Cloud Mint, 8GB RAM,...
Brand                                                   Samsung
Name: 257, dtype: object
258 phone_name    Motorola Moto e32s (4GB, 64GB)(Misty Silver)
Brand                                             Motorola
Name: 258, dtype: object
259 phone_name    OnePlus Nord 2 5G (Blue Haze, 8GB RAM, 128GB S...
Brand                                                   OnePlus
Name: 259, dtype: object
260 phone_name    OnePlus 10R 5G (Forest Green, 12GB RAM, 256GB ...
Brand                                                   OnePlus
Name: 260, dtype: object
261 phone_name    (Renewed) Nokia 5.4 (Polar Night, 4GB RAM, 64G...
Brand                                           (Renewed) Nokia
Name: 261, dtype: object
262 phone_name    realme C11 2021 (Cool Grey, 4GB RAM, 64GB Stor...
Brand                                                    realme
Name: 262, dtype: object
263 phone_name    Vivo Y15s Wave Green (3GB RAM & 32GB ROM) with...
Brand                                                      Vivo
Name: 263, dtype: object
264 phone_name    Nokia G10, 6.5" (16.51 cm) HD+ Screen, 5050 mA...
Brand                                                     Nokia
Name: 264, dtype: object
265 phone_name    Redmi Note 11 (Starburst White, 6GB RAM, 128GB...
Brand                                                     Redmi
Name: 265, dtype: object
266 phone_name    Redmi K50i 5G (Phantom Blue, 6GB RAM, 128GB St...
Brand                                                     Redmi
Name: 266, dtype: object
267 phone_name    Nuveck GIONEE A1 Lite (Black, 32 GB)  (3 GB RAM)
Brand                                                   Nuveck
Name: 267, dtype: object
268 phone_name    Itel Magic 2(Black, 4G, Wi-Fi Hotspot Support)
Brand                                                   Itel
Name: 268, dtype: object
269 phone_name    Xiaomi 11i 5G (Purple Mist, 8GB RAM, 128GB Sto...
Brand                                                    Xiaomi
Name: 269, dtype: object
270 phone_name    Nokia 1 (Warm Red, 1GB RAM, 8GB Storage)
Brand                                            Nokia
Name: 270, dtype: object
271 phone_name    (Renewed) Nokia C3 Sand, 2GB RAM, 16GB Storage
Brand                                               (Renewed
Name: 271, dtype: object
272 phone_name    Nokia C30, 6000 mAh Battery, 6.82 Inch HD+ Scr...
Brand                                                     Nokia
Name: 272, dtype: object
273 phone_name    realme narzo 50A Prime (Flash Blue, 4GB RAM+64...
Brand                                                    realme
Name: 273, dtype: object
274 phone_name    Nokia C21 Plus Android Smartphone, Dual SIM, 3...
Brand                                                     Nokia
Name: 274, dtype: object
275 phone_name    Nokia XR20 5G, IP68 & Military-Grade casing, C...
Brand                                                     Nokia
Name: 275, dtype: object
276 phone_name    Tecno Spark 8C Turquoise Cyan (3GB+64GB) | Upt...
Brand                                                     Tecno
Name: 276, dtype: object
277 phone_name    Nokia C21 Plus Android Smartphone, Dual SIM, 3...
Brand                                                     Nokia
Name: 277, dtype: object
278 phone_name    Do Mobile Mate-1 Dual Sim, Volte, Android, 4G ...
Brand                                                        Do
Name: 278, dtype: object
279 phone_name    OPPO A16e (White, 4GB RAM, 64GB Storage) with ...
Brand                                                      OPPO
Name: 279, dtype: object
280 phone_name    Redmi Note 10T 5G (Chromium White, 6GB RAM, 12...
Brand                                                     Redmi
Name: 280, dtype: object
281 phone_name    Redmi Note 11 (Space Black, 6GB RAM, 128GB Sto...
Brand                                                     Redmi
Name: 281, dtype: object
282 phone_name    Moto G71 5G (Arctic Blue, 128 GB) (6 GB RAM)
Brand                                                 Moto
Name: 282, dtype: object
283 phone_name    realme C11(2021) (Cool Grey, 2GB RAM, 32GB Sto...
Brand                                                  realme C
Name: 283, dtype: object
284 phone_name    Samsung Galaxy M13 5G (Stardust Brown, 6GB, 12...
Brand                                                   Samsung
Name: 284, dtype: object
285 phone_name    realme 9i (Prism Black, 128 GB)  (6 GB RAM)
Brand                                              realme
Name: 285, dtype: object
286 phone_name    MI Redmi Y1 (Grey, 3GB RAM, 32GB Storage)
Brand                                                MI
Name: 286, dtype: object
287 phone_name    OPPO A15s (Fancy White, 4GB, 128GB Storage) AI...
Brand                                                      OPPO
Name: 287, dtype: object
288 phone_name    (Renewed) Samsung Galaxy M53 5G (Mystique Gree...
Brand                                         (Renewed) Samsung
Name: 288, dtype: object
289 phone_name    Nillkin Case for Xiaomi Poco M4 Pro 4G (6.43" ...
Brand                                                   Nillkin
Name: 289, dtype: object
290 phone_name    iQOO Neo 6 5G (Cyber Rage, 8GB RAM, 128GB Stor...
Brand                                                      iQOO
Name: 290, dtype: object
291 phone_name    AppIe lPhone 5S (Space Grey, 16GB)
Brand                                      AppIe
Name: 291, dtype: object
292 phone_name    BB Bold 9700 Compatible with BlackBerry with 3...
Brand                                                        BB
Name: 292, dtype: object
293 phone_name    I KALL K401 Smartphone (6.26 HD+ Display, 4GB,...
Brand                                                    I Kall
Name: 293, dtype: object
294 phone_name    NOKIA C30 TA-1345 DS 4/64 in WH (White)
Brand                                           NOKIA
Name: 294, dtype: object
295 phone_name    Redmi 9 Activ (Carbon Black, 6GB RAM, 128GB St...
Brand                                                     Redmi
Name: 295, dtype: object
296 phone_name    iQOO vivo Z6 44W (Lumina Blue, 8GB RAM, 128GB ...
Brand                                                      iQOO
Name: 296, dtype: object
297 phone_name    Redmi Note 11T 5G (Matte Black, 6GB RAM, 128GB...
Brand                                                     Redmi
Name: 297, dtype: object
298 phone_name    Redmi Poco C3 (Arctic Blue, 3 RAM / 32 Storage)
Brand                                                   Redmi
Name: 298, dtype: object
299 phone_name    OnePlus 10R 5G (Sierra Black, 12GB RAM, 256GB ...
Brand                                                   OnePlus
Name: 299, dtype: object
300 phone_name    I KALL K435 Smartphone (4GB, 64GB) (Green)
Brand                                             I Kall
Name: 300, dtype: object
301 phone_name    iQOO Neo 6 5G (Dark Nova, 12GB RAM, 256GB Stor...
Brand                                                      iQOO
Name: 301, dtype: object
302 phone_name    Vivo Y73 (Diamond Flare, 8GB RAM, 128GB Storag...
Brand                                                      Vivo
Name: 302, dtype: object
303 phone_name    Redmi 10 Power (Sporty Orange, 8GB RAM, 128GB ...
Brand                                                     Redmi
Name: 303, dtype: object
304 phone_name    iQOO 9 SE 5G (Sunset Sierra, 8GB RAM, 128GB St...
Brand                                                      iQOO
Name: 304, dtype: object
305 phone_name    OPPO F19 (Prism Black, 6GB RAM, 128GB Storage)...
Brand                                                      OPPO
Name: 305, dtype: object
306 phone_name    Realme C35 (Glowing Black, 6GB RAM, 128GB Stor...
Brand                                                    Realme
Name: 306, dtype: object
307 phone_name    Nokia 2.1 (Blue-Copper)
Brand                           Nokia
Name: 307, dtype: object
308 phone_name    (Renewed) Redmi 7 (Comet Blue, 3GB RAM, IPS LC...
Brand                                                  (Renewed
Name: 308, dtype: object
309 phone_name    K460 Smartphone (5.5 Inch Display, 3GB, 16GB) ...
Brand                                                      K460
Name: 309, dtype: object
310 phone_name    Samsung Galaxy M52 5G (ICY Blue, 8GB RAM, 128G...
Brand                                                   Samsung
Name: 310, dtype: object
311 phone_name    Apple iPhone 13 (128GB) - Midnight
Brand                                      Apple
Name: 311, dtype: object
312 phone_name    KECHAODA SM Company K33 Bluetooth Dialer with ...
Brand                                                  KECHAODA
Name: 312, dtype: object
313 phone_name    OnePlus 10R 5G (Sierra Black, 12GB RAM, 256GB ...
Brand                                                   OnePlus
Name: 313, dtype: object
314 phone_name    Alcatel 5V (Blue, 32 GB) (3 GB RAM)
Brand                                     Alcatel
Name: 314, dtype: object
315 phone_name    GT Master Edition 5G (128GB, Cosmos Black 6 GB...
Brand                                                        GT
Name: 315, dtype: object
316 phone_name    Motorola Edge 30 (Meteor Grey, 128 GB) (6 GB RAM)
Brand                                                  Motorola
Name: 316, dtype: object
317 phone_name    (Renewed) Tecno Phantom X Iceland Blue (8GB+25...
Brand                                           (Renewed) Tecno
Name: 317, dtype: object
318 phone_name    Redmi Note 11T 5G (Matte Black, 8GB RAM, 128GB...
Brand                                                     Redmi
Name: 318, dtype: object
319 phone_name    Nokia 4.2 (Black, 3GB RAM, 32GB Storage)
Brand                                            Nokia
Name: 319, dtype: object
320 phone_name    Samsung Galaxy A52s 5G (Mint, 8GB RAM, 128GB S...
Brand                                                   Samsung
Name: 320, dtype: object
321 phone_name    (Renewed) Realme Narzo 30 (Racing Silver, 6GB ...
Brand                                          (Renewed) Realme
Name: 321, dtype: object
322 phone_name    Redmi Note 11T 5G (Aquamarine Blue, 6GB RAM, 1...
Brand                                                     Redmi
Name: 322, dtype: object
323 phone_name    (Renewed) Nokia C01 Plus 4G, Android 11 (Go Ed...
Brand                                           (Renewed) Nokia
Name: 323, dtype: object
324 phone_name    Redmi Note 11T 5G (Aquamarine Blue, 8GB RAM, 1...
Brand                                                     Redmi
Name: 324, dtype: object
325 phone_name    MI REDMI 9i Sport (Coral Green, 64 GB) (4 GB RAM)
Brand                                                        MI
Name: 325, dtype: object
326 phone_name    Infinix Hot 11 2022 (Sunset Gold, 4GB RAM 64GB...
Brand                                                   Infinix
Name: 326, dtype: object
327 phone_name    I KALL K435 Smartphone (4GB, 64GB) (Sky Blue)
Brand                                                I Kall
Name: 327, dtype: object
328 phone_name    Nokia 3.1 (Black, 32GB)
Brand                           Nokia
Name: 328, dtype: object
329 phone_name    Redmi 5 (Black, 3GB RAM, 32GB Storage)
Brand                                          Redmi
Name: 329, dtype: object
330 phone_name    POCO M4 Pro (Cool Blue, 6GB RAM 64GB Storage)
Brand                                                  POCO
Name: 330, dtype: object
331 phone_name    Samsung Galaxy A53 Orange, 6GB RAM, 128GB Storage
Brand                                                   Samsung
Name: 331, dtype: object
332 phone_name    Redmi 10 (Midnight Black, 4GB RAM, 64GB Storage)
Brand                                                    Redmi
Name: 332, dtype: object
333 phone_name    MOTOROLA e32s (Slate Gray, 4GB RAM 64GB Storage)
Brand                                                 MOTOROLA
Name: 333, dtype: object
334 phone_name    realme narzo 50A Prime (Flash Black, 4GB RAM+1...
Brand                                                    realme
Name: 334, dtype: object
335 phone_name    Micromax in 2B (Blue, 4GB RAM, 64GB Storage)
Brand                                             Micromax
Name: 335, dtype: object
336 phone_name    OPPO A16e (Midnight Black, 3GB RAM, 32GB Stora...
Brand                                                      OPPO
Name: 336, dtype: object
337 phone_name    Redmi Note 11S (Space Black, 8GB RAM, 128GB St...
Brand                                                     Redmi
Name: 337, dtype: object
338 phone_name    Tecno Spark 7 (Morpheus Blue, 2GB RAM, 32 GB S...
Brand                                                     Tecno
Name: 338, dtype: object
339 phone_name    Samsung Galaxy M21 2021 Edition (Charcoal Blac...
Brand                                                   Samsung
Name: 339, dtype: object
340 phone_name    realme narzo 50A Prime (Flash Blue, 4GB RAM+12...
Brand                                                    realme
Name: 340, dtype: object
341 phone_name    MOTOROLA e32s (Misty Silver, 3GB RAM 32GB Stor...
Brand                                                  MOTOROLA
Name: 341, dtype: object
342 phone_name    realme narzo 50 (Speed Black, 4GB RAM+64GB Sto...
Brand                                                    realme
Name: 342, dtype: object
343 phone_name    OPPO A16e (Blue, 3GB RAM, 32GB Storage) with N...
Brand                                                      OPPO
Name: 343, dtype: object
344 phone_name    Lava Z2s- (Striped Blue, 2GB RAM, 32 GB Storag...
Brand                                                      Lava
Name: 344, dtype: object
345 phone_name    Lava Agni 5G |64 MP AI Quad Camera| (8GB RAM/1...
Brand                                                      Lava
Name: 345, dtype: object
346 phone_name    Vivo Y75 5G (Starlight Black, 8GB RAM, 128GB R...
Brand                                                      Vivo
Name: 346, dtype: object
347 phone_name    (Renewed) realme narzo 50i (Mint Green, 2GB RA...
Brand                                          (Renewed) realme
Name: 347, dtype: object
348 phone_name    vivo Y15C (Mystic Blue, 3GB RAM, 64GB Storage)...
Brand                                                      vivo
Name: 348, dtype: object
349 phone_name    Tecno POVA 3 (Tech Silver, 6GB RAM, 128GB Stor...
Brand                                                     Tecno
Name: 349, dtype: object
350 phone_name    Nokia 3.2 (Black, 3GB RAM, 32GB Storage)
Brand                                            Nokia
Name: 350, dtype: object
351 phone_name    Redmi Note 11 Pro (Stealth Black, 6GB RAM, 128...
Brand                                                     Redmi
Name: 351, dtype: object
352 phone_name    (Renewed) Redmi Y3 (Elegant Blue, 32GB, 3GB RAM)
Brand                                                 (Renewed
Name: 352, dtype: object
353 phone_name    Apple iPhone 13 (128GB) - Blue
Brand                                  Apple
Name: 353, dtype: object
354 phone_name    Samsung Galaxy M53 5G (Emerald Brown, 8GB, 128...
Brand                                                   Samsung
Name: 354, dtype: object
355 phone_name    Nuveck KARBONN K9 Smart Yuva 4G Volte (Black &...

In [36]:
for index, row in data.iterrows():
    print(index,row[["Brand", "Rated_people"]])

0 Brand           Samsung
Rated_people     17,194
Name: 0, dtype: object
1 Brand           Samsung
Rated_people     44,417
Name: 1, dtype: object
2 Brand             Redmi
Rated_people    178,833
Name: 2, dtype: object
3 Brand           I Kall
Rated_people       NaN
Name: 3, dtype: object
4 Brand             Redmi
Rated_people    178,833
Name: 4, dtype: object
5 Brand             Jio
Rated_people    1,071
Name: 5, dtype: object
6 Brand            Redmi
Rated_people    67,933
Name: 6, dtype: object
7 Brand            Redmi
Rated_people    46,562
Name: 7, dtype: object
8 Brand            Redmi
Rated_people    29,838
Name: 8, dtype: object
9 Brand           realme
Rated_people    19,708
Name: 9, dtype: object
10 Brand           Samsung
Rated_people      8,508
Name: 10, dtype: object
11 Brand           Samsung
Rated_people      2,741
Name: 11, dtype: object
12 Brand            Redmi
Rated_people    29,838
Name: 12, dtype: object
13 Brand             OPPO
Rated_people    26,496
Name: 13, dtype: object
14 Brand           Nokia
Rated_people      832
Name: 14, dtype: object
15 Brand           Redmi
Rated_people      493
Name: 15, dtype: object
16 Brand           Jio
Rated_people    153
Name: 16, dtype: object
17 Brand            iQOO
Rated_people    5,357
Name: 17, dtype: object
18 Brand             Redmi
Rated_people    169,715
Name: 18, dtype: object
19 Brand           Tecno
Rated_people      256
Name: 19, dtype: object
20 Brand           Tecno
Rated_people        5
Name: 20, dtype: object
21 Brand           Tecno
Rated_people       27
Name: 21, dtype: object
22 Brand           Samsung
Rated_people     17,194
Name: 22, dtype: object
23 Brand           Samsung
Rated_people     44,417
Name: 23, dtype: object
24 Brand           I Kall
Rated_people         2
Name: 24, dtype: object
25 Brand           realme
Rated_people    19,708
Name: 25, dtype: object
26 Brand            OPPO
Rated_people    5,989
Name: 26, dtype: object
27 Brand             Redmi
Rated_people    178,833
Name: 27, dtype: object
28 Brand             Redmi
Rated_people    178,833
Name: 28, dtype: object
29 Brand           Redmi
Rated_people      249
Name: 29, dtype: object
30 Brand           realme
Rated_people    19,708
Name: 30, dtype: object
31 Brand             Redmi
Rated_people    178,833
Name: 31, dtype: object
32 Brand           Samsung
Rated_people    157,088
Name: 32, dtype: object
33 Brand           Samsung
Rated_people      2,741
Name: 33, dtype: object
34 Brand             Redmi
Rated_people    169,715
Name: 34, dtype: object
35 Brand           Redmi
Rated_people      NaN
Name: 35, dtype: object
36 Brand           I Kall
Rated_people         6
Name: 36, dtype: object
37 Brand           Redmi
Rated_people      NaN
Name: 37, dtype: object
38 Brand           Tecno
Rated_people       27
Name: 38, dtype: object
39 Brand           Tecno
Rated_people       27
Name: 39, dtype: object
40 Brand           Jio
Rated_people     88
Name: 40, dtype: object
41 Brand           SHIVANSH LYF
Rated_people             NaN
Name: 41, dtype: object
42 Brand           Tecno
Rated_people       27
Name: 42, dtype: object
43 Brand           Samsung
Rated_people      8,508
Name: 43, dtype: object
44 Brand           Samsung
Rated_people    157,088
Name: 44, dtype: object
45 Brand           Samsung
Rated_people     17,194
Name: 45, dtype: object
46 Brand           Samsung
Rated_people    157,088
Name: 46, dtype: object
47 Brand           Nokia
Rated_people    1,660
Name: 47, dtype: object
48 Brand           Samsung
Rated_people     44,417
Name: 48, dtype: object
49 Brand           Jio
Rated_people    346
Name: 49, dtype: object
50 Brand           Redmi
Rated_people       89
Name: 50, dtype: object
51 Brand           Redmi
Rated_people    2,342
Name: 51, dtype: object
52 Brand           Samsung
Rated_people     15,376
Name: 52, dtype: object
53 Brand           Redmi
Rated_people      554
Name: 53, dtype: object
54 Brand           Samsung
Rated_people     44,417
Name: 54, dtype: object
55 Brand            Vivo
Rated_people    1,345
Name: 55, dtype: object
56 Brand             Redmi
Rated_people    178,833
Name: 56, dtype: object
57 Brand           I Kall
Rated_people         2
Name: 57, dtype: object
58 Brand           Nuveck
Rated_people       NaN
Name: 58, dtype: object
59 Brand           realme
Rated_people    33,514
Name: 59, dtype: object
60 Brand            Redmi
Rated_people    29,838
Name: 60, dtype: object
61 Brand             OPPO
Rated_people    54,016
Name: 61, dtype: object
62 Brand           Lava
Rated_people     229
Name: 62, dtype: object
63 Brand            Redmi
Rated_people    29,838
Name: 63, dtype: object
64 Brand           Samsung
Rated_people      2,741
Name: 64, dtype: object
65 Brand           Samsung
Rated_people      8,508
Name: 65, dtype: object
66 Brand           Samsung
Rated_people    157,088
Name: 66, dtype: object
67 Brand           Samsung
Rated_people     44,417
Name: 67, dtype: object
68 Brand            Redmi
Rated_people    29,838
Name: 68, dtype: object
69 Brand           OnePlus
Rated_people     36,852
Name: 69, dtype: object
70 Brand            OPPO
Rated_people    5,989
Name: 70, dtype: object
71 Brand           Nokia
Rated_people    1,166
Name: 71, dtype: object
72 Brand            vivo
Rated_people    5,357
Name: 72, dtype: object
73 Brand           Lava
Rated_people     748
Name: 73, dtype: object
74 Brand           OnePlus
Rated_people     14,513
Name: 74, dtype: object
75 Brand           OnePlus
Rated_people     14,513
Name: 75, dtype: object
76 Brand           Samsung
Rated_people      2,741
Name: 76, dtype: object
77 Brand            OPPO
Rated_people    5,989
Name: 77, dtype: object
78 Brand             OPPO
Rated_people    26,496
Name: 78, dtype: object
79 Brand           Redmi
Rated_people      249
Name: 79, dtype: object
80 Brand            Redmi
Rated_people    67,933
Name: 80, dtype: object
81 Brand           Nokia
Rated_people    1,660
Name: 81, dtype: object
82 Brand             Redmi
Rated_people    121,362
Name: 82, dtype: object
83 Brand           Samsung
Rated_people    157,088
Name: 83, dtype: object
84 Brand           OnePlus
Rated_people     36,852
Name: 84, dtype: object
85 Brand           Samsung
Rated_people        265
Name: 85, dtype: object
86 Brand           Samsung
Rated_people      8,508
Name: 86, dtype: object
87 Brand           I Kall
Rated_people         2
Name: 87, dtype: object
88 Brand           Samsung
Rated_people    157,088
Name: 88, dtype: object
89 Brand           Samsung
Rated_people      2,741
Name: 89, dtype: object
90 Brand           Tecno
Rated_people    3,705
Name: 90, dtype: object
91 Brand            Redmi
Rated_people    42,255
Name: 91, dtype: object
92 Brand           Nokia
Rated_people    1,660
Name: 92, dtype: object
93 Brand             Redmi
Rated_people    169,715
Name: 93, dtype: object
94 Brand           itel
Rated_people     328
Name: 94, dtype: object
95 Brand           I Kall
Rated_people         2
Name: 95, dtype: object
96 Brand           Samsung
Rated_people    157,088
Name: 96, dtype: object
97 Brand           realme
Rated_people    19,708
Name: 97, dtype: object
98 Brand           Samsung
Rated_people      8,508
Name: 98, dtype: object
99 Brand           I Kall
Rated_people         2
Name: 99, dtype: object
100 Brand           Nokia
Rated_people        3
Name: 100, dtype: object
101 Brand           Lava
Rated_people     229
Name: 101, dtype: object
102 Brand           Tecno
Rated_people        5
Name: 102, dtype: object
103 Brand           Nokia
Rated_people      265
Name: 103, dtype: object
104 Brand             Redmi
Rated_people    121,362
Name: 104, dtype: object
105 Brand           realme
Rated_people     1,658
Name: 105, dtype: object
106 Brand           Samsung
Rated_people     29,553
Name: 106, dtype: object
107 Brand            OPPO
Rated_people    5,989
Name: 107, dtype: object
108 Brand           I Kall
Rated_people       NaN
Name: 108, dtype: object
109 Brand           I Kall
Rated_people         2
Name: 109, dtype: object
110 Brand           Samsung
Rated_people    157,088
Name: 110, dtype: object
111 Brand           Samsung
Rated_people      2,741
Name: 111, dtype: object
112 Brand           Samsung
Rated_people    157,088
Name: 112, dtype: object
113 Brand           Samsung
Rated_people      8,508
Name: 113, dtype: object
114 Brand            Redmi
Rated_people    72,687
Name: 114, dtype: object
115 Brand           I Kall
Rated_people         2
Name: 115, dtype: object
116 Brand           I Kall
Rated_people         6
Name: 116, dtype: object
117 Brand           Tecno
Rated_people    3,705
Name: 117, dtype: object
118 Brand           Tecno
Rated_people       27
Name: 118, dtype: object
119 Brand            Redmi
Rated_people    29,838
Name: 119, dtype: object
120 Brand           (Renewed) Samsung
Rated_people                    7
Name: 120, dtype: object
121 Brand           I Kall
Rated_people         7
Name: 121, dtype: object
122 Brand           MOTOROLA
Rated_people         NaN
Name: 122, dtype: object
123 Brand           Tecno
Rated_people        5
Name: 123, dtype: object
124 Brand           Tecno Spark
Rated_people          4,933
Name: 124, dtype: object
125 Brand           OnePlus
Rated_people        861
Name: 125, dtype: object
126 Brand           Samsung
Rated_people      8,508
Name: 126, dtype: object
127 Brand           I Kall
Rated_people         7
Name: 127, dtype: object
128 Brand           realme C
Rated_people      11,392
Name: 128, dtype: object
129 Brand           I Kall
Rated_people         7
Name: 129, dtype: object
130 Brand           I Kall
Rated_people         6
Name: 130, dtype: object
131 Brand           I Kall
Rated_people         2
Name: 131, dtype: object
132 Brand           Samsung
Rated_people    157,088
Name: 132, dtype: object
133 Brand           I Kall
Rated_people         2
Name: 133, dtype: object
134 Brand           Samsung
Rated_people     44,417
Name: 134, dtype: object
135 Brand           Nokia
Rated_people    2,170
Name: 135, dtype: object
136 Brand            Redmi
Rated_people    46,562
Name: 136, dtype: object
137 Brand           OnePlus
Rated_people        861
Name: 137, dtype: object
138 Brand           Samsung
Rated_people    157,088
Name: 138, dtype: object
139 Brand           Google
Rated_people       163
Name: 139, dtype: object
140 Brand             Redmi
Rated_people    169,715
Name: 140, dtype: object
141 Brand           Samsung
Rated_people    223,112
Name: 141, dtype: object
142 Brand           I Kall
Rated_people         3
Name: 142, dtype: object
143 Brand           I Kall
Rated_people         5
Name: 143, dtype: object
144 Brand           itel
Rated_people     328
Name: 144, dtype: object
145 Brand           Samsung
Rated_people      8,508
Name: 145, dtype: object
146 Brand           realme
Rated_people    33,514
Name: 146, dtype: object
147 Brand           Samsung
Rated_people    157,088
Name: 147, dtype: object
148 Brand           realme
Rated_people       297
Name: 148, dtype: object
149 Brand           I Kall
Rated_people         2
Name: 149, dtype: object
150 Brand            Oppo
Rated_people    1,792
Name: 150, dtype: object
151 Brand           Lava
Rated_people     721
Name: 151, dtype: object
152 Brand           I Kall
Rated_people         2
Name: 152, dtype: object
153 Brand           I Kall
Rated_people         3
Name: 153, dtype: object
154 Brand           Samsung
Rated_people    157,088
Name: 154, dtype: object
155 Brand           I Kall
Rated_people       NaN
Name: 155, dtype: object
156 Brand           I Kall
Rated_people         7
Name: 156, dtype: object
157 Brand            iQOO
Rated_people    5,357
Name: 157, dtype: object
158 Brand           Tecno
Rated_people      256
Name: 158, dtype: object
159 Brand            Redmi
Rated_people    82,987
Name: 159, dtype: object
160 Brand           I Kall
Rated_people         2
Name: 160, dtype: object
161 Brand             iQOO
Rated_people    11,382
Name: 161, dtype: object
162 Brand            Redmi
Rated_people    16,295
Name: 162, dtype: object
163 Brand           Tecno
Rated_people      256
Name: 163, dtype: object
164 Brand           I Kall
Rated_people         5
Name: 164, dtype: object
165 Brand           I Kall
Rated_people         7
Name: 165, dtype: object
166 Brand           Nokia
Rated_people    1,660
Name: 166, dtype: object
167 Brand           I Kall
Rated_people        16
Name: 167, dtype: object
168 Brand           Samsung
Rated_people     44,417
Name: 168, dtype: object
169 Brand           Samsung
Rated_people     44,417
Name: 169, dtype: object
170 Brand           SAMSUNG
Rated_people        101
Name: 170, dtype: object
171 Brand             Redmi
Rated_people    169,715
Name: 171, dtype: object
172 Brand           (Renewed
Rated_people           2
Name: 172, dtype: object
173 Brand             iQOO
Rated_people    11,382
Name: 173, dtype: object
174 Brand           I Kall
Rated_people         3
Name: 174, dtype: object
175 Brand           I Kall
Rated_people         2
Name: 175, dtype: object
176 Brand           Samsung
Rated_people    157,088
Name: 176, dtype: object
177 Brand           I Kall
Rated_people         5
Name: 177, dtype: object
178 Brand           POCO
Rated_people      40
Name: 178, dtype: object

179 Brand             Redmi
Rated_people    178,833
Name: 179, dtype: object
180 Brand           Samsung
Rated_people     17,194
Name: 180, dtype: object
181 Brand           Apple
Rated_people    7,569
Name: 181, dtype: object
182 Brand             iQOO
Rated_people    19,780
Name: 182, dtype: object
183 Brand            iQOO
Rated_people    5,937
Name: 183, dtype: object
184 Brand           Samsung
Rated_people         83
Name: 184, dtype: object
185 Brand           Nokia
Rated_people    2,994
Name: 185, dtype: object
186 Brand           I Kall
Rated_people         3
Name: 186, dtype: object
187 Brand           I Kall
Rated_people         2
Name: 187, dtype: object
188 Brand           I Kall
Rated_people         2
Name: 188, dtype: object
189 Brand           Nokia
Rated_people      832
Name: 189, dtype: object
190 Brand           Tecno
Rated_people    3,705
Name: 190, dtype: object
191 Brand           realme
Rated_people    33,514
Name: 191, dtype: object
192 Brand           Lava
Rated_people     748
Name: 192, dtype: object
193 Brand           (Renewed
Rated_people           4
Name: 193, dtype: object
194 Brand           Samsung
Rated_people    157,088
Name: 194, dtype: object
195 Brand            BB
Rated_people    NaN
Name: 195, dtype: object
196 Brand           I Kall
Rated_people         2
Name: 196, dtype: object
197 Brand            Vivo
Rated_people    2,295
Name: 197, dtype: object
198 Brand           Samsung
Rated_people    157,088
Name: 198, dtype: object
199 Brand           I Kall
Rated_people         2
Name: 199, dtype: object
200 Brand           itel
Rated_people     802
Name: 200, dtype: object
201 Brand           Samsung
Rated_people    157,088
Name: 201, dtype: object
202 Brand           Jio
Rated_people      2
Name: 202, dtype: object
203 Brand           POCO
Rated_people      34
Name: 203, dtype: object
204 Brand            iQOO
Rated_people    5,357
Name: 204, dtype: object
205 Brand             iQOO
Rated_people    11,382
Name: 205, dtype: object
206 Brand           Samsung
Rated_people     15,376
Name: 206, dtype: object
207 Brand           Nokia
Rated_people    1,166
Name: 207, dtype: object
208 Brand           I Kall
Rated_people         3
Name: 208, dtype: object
209 Brand            Vivo
Rated_people    2,295
Name: 209, dtype: object
210 Brand           OPPO
Rated_people     550
Name: 210, dtype: object
211 Brand           Realme
Rated_people        33
Name: 211, dtype: object
212 Brand            BB
Rated_people    NaN
Name: 212, dtype: object
213 Brand            Redmi
Rated_people    12,190
Name: 213, dtype: object
214 Brand           Vivo
Rated_people      15
Name: 214, dtype: object
215 Brand           I Kall
Rated_people         2
Name: 215, dtype: object
216 Brand           Vivo
Rated_people      40
Name: 216, dtype: object
217 Brand           Nokia
Rated_people    2,994
Name: 217, dtype: object
218 Brand           Samsung
Rated_people    157,088
Name: 218, dtype: object
219 Brand           I Kall
Rated_people       NaN
Name: 219, dtype: object
220 Brand           Xiaomi
Rated_people       938
Name: 220, dtype: object
221 Brand           Samsung
Rated_people        NaN
Name: 221, dtype: object
222 Brand           Samsung
Rated_people      8,508
Name: 222, dtype: object
223 Brand           OnePlus
Rated_people     36,852
Name: 223, dtype: object
224 Brand           SHIVANSH
Rated_people         NaN
Name: 224, dtype: object
225 Brand           MOTOROLA
Rated_people           2
Name: 225, dtype: object
226 Brand            Redmi
Rated_people    46,562
Name: 226, dtype: object
227 Brand           Samsung
Rated_people      2,741
Name: 227, dtype: object
228 Brand           I Kall
Rated_people         7
Name: 228, dtype: object
229 Brand           Micromax
Rated_people          81
Name: 229, dtype: object
230 Brand            Redmi
Rated_people    12,190
Name: 230, dtype: object
231 Brand           (Renewed
Rated_people           2
Name: 231, dtype: object
232 Brand           OnePlus
Rated_people      2,430
Name: 232, dtype: object
233 Brand           Nokia
Rated_people      NaN
Name: 233, dtype: object
234 Brand           Redmi
Rated_people      NaN
Name: 234, dtype: object
235 Brand           Nokia
Rated_people      NaN
Name: 235, dtype: object
236 Brand           Nokia
Rated_people      667
Name: 236, dtype: object
237 Brand           Jio
Rated_people      8
Name: 237, dtype: object
238 Brand           OnePlus
Rated_people        861
Name: 238, dtype: object
239 Brand             Redmi
Rated_people    121,362
Name: 239, dtype: object
240 Brand           Micromax
Rated_people       1,114
Name: 240, dtype: object
241 Brand           Samsung
Rated_people      8,508
Name: 241, dtype: object
242 Brand           Infinix
Rated_people        NaN
Name: 242, dtype: object
243 Brand           Samsung
Rated_people    157,088
Name: 243, dtype: object
244 Brand           (Renewed) Nokia
Rated_people                 53
Name: 244, dtype: object
245 Brand            Oppo
Rated_people    1,792
Name: 245, dtype: object
246 Brand            Redmi
Rated_people    72,687
Name: 246, dtype: object
247 Brand           Tecno
Rated_people    4,933
Name: 247, dtype: object
248 Brand           Lava
Rated_people     721
Name: 248, dtype: object
249 Brand           Redmi
Rated_people    3,025
Name: 249, dtype: object
250 Brand           Samsung
Rated_people     29,553
Name: 250, dtype: object
251 Brand           I Kall
Rated_people       NaN
Name: 251, dtype: object
252 Brand           I Kall
Rated_people         2
Name: 252, dtype: object
253 Brand           Xiaomi
Rated_people    18,929
Name: 253, dtype: object
254 Brand           I Kall
Rated_people         5
Name: 254, dtype: object
255 Brand           Panasonic
Rated_people        7,258
Name: 255, dtype: object
256 Brand           (Renewed
Rated_people           4
Name: 256, dtype: object
257 Brand           Samsung
Rated_people     17,194
Name: 257, dtype: object
258 Brand           Motorola
Rated_people           1
Name: 258, dtype: object
259 Brand           OnePlus
Rated_people     88,884
Name: 259, dtype: object
260 Brand           OnePlus
Rated_people      2,430
Name: 260, dtype: object
261 Brand           (Renewed) Nokia
Rated_people                 27
Name: 261, dtype: object
262 Brand           realme
Rated_people    11,392
Name: 262, dtype: object
263 Brand           Vivo
Rated_people     159
Name: 263, dtype: object
264 Brand           Nokia
Rated_people      178
Name: 264, dtype: object
265 Brand            Redmi
Rated_people    29,838
Name: 265, dtype: object
266 Brand                 Redmi
Rated_people    Save ₹1,500
Name: 266, dtype: object
267 Brand                          Nuveck
Rated_people    Only 2 left in stock.
Name: 267, dtype: object
268 Brand            Itel
Rated_people    1,333
Name: 268, dtype: object
269 Brand           Xiaomi
Rated_people         6
Name: 269, dtype: object
270 Brand           Nokia
Rated_people    5,347
Name: 270, dtype: object
271 Brand           (Renewed
Rated_people          97
Name: 271, dtype: object
272 Brand           Nokia
Rated_people      185
Name: 272, dtype: object
273 Brand           realme
Rated_people     1,658
Name: 273, dtype: object
274 Brand           Nokia
Rated_people        1
Name: 274, dtype: object
275 Brand           Nokia
Rated_people       65
Name: 275, dtype: object
276 Brand           Tecno
Rated_people    4,893
Name: 276, dtype: object
277 Brand           Nokia
Rated_people      NaN
Name: 277, dtype: object
278 Brand           Do
Rated_people     8
Name: 278, dtype: object
279 Brand           OPPO
Rated_people      82
Name: 279, dtype: object
280 Brand           Redmi
Rated_people    1,174
Name: 280, dtype: object
281 Brand            Redmi
Rated_people    29,838
Name: 281, dtype: object
282 Brand           Moto
Rated_people       3
Name: 282, dtype: object
283 Brand           realme C
Rated_people      11,392
Name: 283, dtype: object
284 Brand           Samsung
Rated_people    157,088
Name: 284, dtype: object
285 Brand           realme
Rated_people       100
Name: 285, dtype: object
286 Brand               MI
Rated_people    10,870
Name: 286, dtype: object
287 Brand            OPPO
Rated_people    5,989
Name: 287, dtype: object
288 Brand           (Renewed) Samsung
Rated_people                  NaN
Name: 288, dtype: object
289 Brand           Nillkin
Rated_people        NaN
Name: 289, dtype: object
290 Brand            iQOO
Rated_people    5,937
Name: 290, dtype: object
291 Brand           AppIe
Rated_people      NaN
Name: 291, dtype: object
292 Brand                              BB
Rated_people    Only 2 left in stock.
Name: 292, dtype: object
293 Brand           I Kall
Rated_people         2
Name: 293, dtype: object
294 Brand           NOKIA
Rated_people      185
Name: 294, dtype: object
295 Brand             Redmi
Rated_people    169,715
Name: 295, dtype: object
296 Brand            iQOO
Rated_people    5,357
Name: 296, dtype: object
297 Brand            Redmi
Rated_people    16,295
Name: 297, dtype: object
298 Brand           Redmi
Rated_people      691
Name: 298, dtype: object
299 Brand           OnePlus
Rated_people      2,430
Name: 299, dtype: object
300 Brand           I Kall
Rated_people         2
Name: 300, dtype: object
301 Brand            iQOO
Rated_people    5,937
Name: 301, dtype: object
302 Brand            Vivo
Rated_people    2,295
Name: 302, dtype: object
303 Brand           Redmi
Rated_people       69
Name: 303, dtype: object
304 Brand            iQOO
Rated_people    5,223
Name: 304, dtype: object
305 Brand            OPPO
Rated_people    1,086
Name: 305, dtype: object
306 Brand           Realme
Rated_people       NaN
Name: 306, dtype: object
307 Brand           Nokia
Rated_people    2,170
Name: 307, dtype: object
308 Brand           (Renewed
Rated_people          14
Name: 308, dtype: object
309 Brand           K460
Rated_people     NaN
Name: 309, dtype: object
310 Brand           Samsung
Rated_people     15,376
Name: 310, dtype: object
311 Brand           Apple
Rated_people    7,569
Name: 311, dtype: object
312 Brand           KECHAODA
Rated_people          78
Name: 312, dtype: object
313 Brand           OnePlus
Rated_people      2,430
Name: 313, dtype: object
314 Brand           Alcatel
Rated_people         28
Name: 314, dtype: object
315 Brand           GT
Rated_people     6
Name: 315, dtype: object
316 Brand           Motorola
Rated_people           2
Name: 316, dtype: object
317 Brand           (Renewed) Tecno
Rated_people                  3
Name: 317, dtype: object
318 Brand            Redmi
Rated_people    16,295
Name: 318, dtype: object
319 Brand            Nokia
Rated_people    10,094
Name: 319, dtype: object
320 Brand           Samsung
Rated_people         33
Name: 320, dtype: object
321 Brand           (Renewed) Realme
Rated_people                   7
Name: 321, dtype: object
322 Brand            Redmi
Rated_people    16,295
Name: 322, dtype: object
323 Brand           (Renewed) Nokia
Rated_people                 53
Name: 323, dtype: object
324 Brand            Redmi
Rated_people    16,295
Name: 324, dtype: object
325 Brand           MI
Rated_people    30
Name: 325, dtype: object
326 Brand           Infinix
Rated_people        NaN
Name: 326, dtype: object
327 Brand           I Kall
Rated_people         2
Name: 327, dtype: object
328 Brand           Nokia
Rated_people      354
Name: 328, dtype: object
329 Brand            Redmi
Rated_people    15,669
Name: 329, dtype: object
330 Brand           POCO
Rated_people     NaN
Name: 330, dtype: object
331 Brand           Samsung
Rated_people          1
Name: 331, dtype: object
332 Brand           Redmi
Rated_people       89
Name: 332, dtype: object
333 Brand           MOTOROLA
Rated_people           2
Name: 333, dtype: object
334 Brand           realme
Rated_people     1,658
Name: 334, dtype: object
335 Brand           Micromax
Rated_people          90
Name: 335, dtype: object

336 Brand           OPPO
Rated_people      82
Name: 336, dtype: object
337 Brand           Redmi
Rated_people    3,025
Name: 337, dtype: object
338 Brand           Tecno
Rated_people    5,740
Name: 338, dtype: object
339 Brand           Samsung
Rated_people    223,112
Name: 339, dtype: object
340 Brand           realme
Rated_people     1,658
Name: 340, dtype: object
341 Brand           MOTOROLA
Rated_people         NaN
Name: 341, dtype: object
342 Brand           realme
Rated_people     5,769
Name: 342, dtype: object
343 Brand           OPPO
Rated_people      82
Name: 343, dtype: object
344 Brand           Lava
Rated_people     136
Name: 344, dtype: object
345 Brand           Lava
Rated_people     567
Name: 345, dtype: object
346 Brand           Vivo
Rated_people      40
Name: 346, dtype: object
347 Brand           (Renewed) realme
Rated_people                  12
Name: 347, dtype: object
348 Brand           vivo
Rated_people      86
Name: 348, dtype: object
349 Brand           Tecno
Rated_people      256
Name: 349, dtype: object
350 Brand           Nokia
Rated_people      728
Name: 350, dtype: object
351 Brand           Redmi
Rated_people    1,860
Name: 351, dtype: object
352 Brand           (Renewed
Rated_people          33
Name: 352, dtype: object
353 Brand           Apple
Rated_people    7,569
Name: 353, dtype: object
354 Brand           Samsung
Rated_people      2,741
Name: 354, dtype: object
355 Brand           Nuveck
Rated_people       NaN
Name: 355, dtype: object
356 Brand           (Renewed
Rated_people           4
Name: 356, dtype: object
357 Brand           realme
Rated_people     5,769
Name: 357, dtype: object
358 Brand           India
Rated_people        1
Name: 358, dtype: object
359 Brand             Redmi
Rated_people    102,573
Name: 359, dtype: object
360 Brand            iQOO
Rated_people    3,291
Name: 360, dtype: object
361 Brand           realme
Rated_people     2,186
Name: 361, dtype: object
362 Brand           Xiaomi
Rated_people        22
Name: 362, dtype: object
363 Brand           (Renewed
Rated_people         133
Name: 363, dtype: object
364 Brand           (Renewed
Rated_people           4
Name: 364, dtype: object
365 Brand           NaN
Rated_people    NaN
Name: 365, dtype: object
366 Brand           NaN
Rated_people    NaN
Name: 366, dtype: object
367 Brand           NaN
Rated_people    NaN
Name: 367, dtype: object
368 Brand           NaN
Rated_people    NaN
Name: 368, dtype: object

In [40]:
# filter data
print(data.loc[data["Brand"] == "Samsung"])

                                            phone_name    Brand  \
0    Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...  Samsung
1    Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB ...  Samsung
10   Samsung Galaxy M33 5G (Emerald Brown, 6GB, 128...  Samsung
11   Samsung Galaxy M53 5G (Emerald Brown, 6GB, 128...  Samsung
22   Samsung Galaxy S20 FE 5G (Cloud Mint, 8GB RAM,...  Samsung
..                                                 ...      ...
310  Samsung Galaxy M52 5G (ICY Blue, 8GB RAM, 128G...  Samsung
320  Samsung Galaxy A52s 5G (Mint, 8GB RAM, 128GB S...  Samsung
331  Samsung Galaxy A53 Orange, 6GB RAM, 128GB Storage  Samsung
339  Samsung Galaxy M21 2021 Edition (Charcoal Blac...  Samsung
354  Samsung Galaxy M53 5G (Emerald Brown, 8GB, 128...  Samsung

     ratting_out_of_five Rated_people Offered_price_in_rupee  \
0                    4.4       17,194                 39,990
1                    4.1       44,417                 14,999
10                   4.0        8,508                 17,999
11                   3.8        2,741                 26,499
22                   4.4       17,194                 39,990
..                   ...          ...                    ...
310                  4.2       15,376                 26,999
320                  3.9           33                 27,750
331                  1.0            1                 34,498
339                  4.2      223,112                 12,999
354                  3.8        2,741                 28,499

     real_rice_in_rupee  Percent_off
0               74999.0         47.0
1               16999.0         12.0
10              24999.0         28.0
11              32999.0         20.0
22              74990.0         47.0
..                  ...          ...
310             36999.0         27.0
320             40999.0         32.0
331             38990.0         12.0
339             14999.0         13.0
354             34999.0         19.0

[63 rows x 7 columns]

In [41]:
import pandas as pd
data = pd.read_excel("amazon.xlsx")
print(data)

                                            phone_name     Brand  \
0    Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...   Samsung
1    Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB ...   Samsung
2    Redmi 9A Sport (Coral Green, 2GB RAM, 32GB Sto...     Redmi
3    I KALL Z4 Smartphone (5.5 Inch Display, 4GB, 3...    I Kall
4    Redmi 9A Sport (Carbon Black, 2GB RAM, 32GB St...     Redmi
..                                                 ...       ...
364  (Renewed) Nokia G21 Android Smartphone, Dual S...  (Renewed
365                                                NaN       NaN
366                                                NaN       NaN
367                                                NaN       NaN
368                                                NaN       NaN

     ratting_out_of_five Rated_people Offered_price_in_rupee  \
0                    4.4       17,194                 39,990
1                    4.1       44,417                 14,999
2                    4.2      178,833                  6,999
3                    NaN          NaN                  4,999
4                    4.2      178,833                  6,999
..                   ...          ...                    ...
364                  3.0            4                 12,499
365                  NaN          NaN                    NaN
366                  NaN          NaN                    NaN
367                  NaN          NaN                    NaN
368                  NaN          NaN                    NaN

     real_rice_in_rupee  Percent_off
0               74999.0         47.0
1               16999.0         12.0
2                8499.0         18.0
3                6499.0         23.0
4                7999.0         13.0
..                  ...          ...
364             14499.0         13.0
365                 NaN          NaN
366                 NaN          NaN
367                 NaN          NaN
368                 NaN          NaN

[369 rows x 7 columns]

In [43]:
print(data.describe()) # overview of data

       ratting_out_of_five  real_rice_in_rupee  Percent_off
count           334.000000          342.000000   342.000000
mean              3.885928        18079.730994    22.315789
std               0.627220        13747.094069     9.850182
min               1.000000         1399.000000     6.000000
25%               3.700000         9999.000000    15.000000
50%               4.100000        14999.000000    21.000000
75%               4.200000        20990.000000    27.750000
max               5.000000        89999.000000    79.000000

In [45]:
# sorting
print(data.sort_values("Brand"))

                                            phone_name     Brand  \
364  (Renewed) Nokia G21 Android Smartphone, Dual S...  (Renewed
231  (Renewed) Nokia C01 Plus 4G, 5.45” HD+ Screen,...  (Renewed
308  (Renewed) Redmi 7 (Comet Blue, 3GB RAM, IPS LC...  (Renewed
172  (Renewed) Nokia C01 Plus 4G, 5.45” HD+ Screen,...  (Renewed
271     (Renewed) Nokia C3 Sand, 2GB RAM, 16GB Storage  (Renewed
..                                                 ...       ...
72   vivo iQOO Z6 44W (Raven Black, 8GB RAM, 128GB ...      vivo
365                                                NaN       NaN
366                                                NaN       NaN
367                                                NaN       NaN
368                                                NaN       NaN

     ratting_out_of_five Rated_people Offered_price_in_rupee  \
364                  3.0            4                 12,499
231                  3.0            2                  5,524
308                  3.1           14                  6,999
172                  3.0            2                  5,566
271                  3.2           97                  6,979
..                   ...          ...                    ...
72                   4.1        5,357                 16,999
365                  NaN          NaN                    NaN
366                  NaN          NaN                    NaN
367                  NaN          NaN                    NaN
368                  NaN          NaN                    NaN

     real_rice_in_rupee  Percent_off
364             14499.0         13.0
231              6299.0         12.0
308              9999.0         30.0
172              6790.0         18.0
271              8499.0         17.0
..                  ...          ...
72              20999.0         19.0
365                 NaN          NaN
366                 NaN          NaN
367                 NaN          NaN
368                 NaN          NaN

[369 rows x 7 columns]

In [46]:
# sort with desending values
print(data.sort_values("Brand", ascending = False))

                                            phone_name     Brand  \
72   vivo iQOO Z6 44W (Raven Black, 8GB RAM, 128GB ...      vivo
348  vivo Y15C (Mystic Blue, 3GB RAM, 64GB Storage)...      vivo
283  realme C11(2021) (Cool Grey, 2GB RAM, 32GB Sto...  realme C
128  realme C11 (2021) (Cool Blue, 2GB RAM, 32GB St...  realme C
105  realme narzo 50A Prime (Flash Black, 4GB RAM+6...    realme
..                                                 ...       ...
364  (Renewed) Nokia G21 Android Smartphone, Dual S...  (Renewed
365                                                NaN       NaN
366                                                NaN       NaN
367                                                NaN       NaN
368                                                NaN       NaN

     ratting_out_of_five Rated_people Offered_price_in_rupee  \
72                   4.1        5,357                 16,999
348                  3.3           86                 10,499
283                  4.1       11,392                  7,190
128                  4.1       11,392                    NaN
105                  4.1        1,658                 11,499
..                   ...          ...                    ...
364                  3.0            4                 12,499
365                  NaN          NaN                    NaN
366                  NaN          NaN                    NaN
367                  NaN          NaN                    NaN
368                  NaN          NaN                    NaN

     real_rice_in_rupee  Percent_off
72              20999.0         19.0
348             14990.0         30.0
283              7999.0         10.0
128                 NaN          NaN
105             13499.0         15.0
..                  ...          ...
364             14499.0         13.0
365                 NaN          NaN
366                 NaN          NaN
367                 NaN          NaN
368                 NaN          NaN

[369 rows x 7 columns]

In [48]:
print(data.sort_values("real_rice_in_rupee"))

                                            phone_name     Brand  \
312  KECHAODA SM Company K33 Bluetooth Dialer with ...  KECHAODA
240  Micromax X512 Anniversary Edition 1750 mAh, To...  Micromax
229          Micromax X809 (Blue, Anti Theft, 1000mAh)  Micromax
289  Nillkin Case for Xiaomi Poco M4 Pro 4G (6.43" ...   Nillkin
268     Itel Magic 2(Black, 4G, Wi-Fi Hotspot Support)      Itel
..                                                 ...       ...
359           Redmi 2GB RAM, 16GB Storage Mi 6A, Black     Redmi
365                                                NaN       NaN
366                                                NaN       NaN
367                                                NaN       NaN
368                                                NaN       NaN

     ratting_out_of_five Rated_people Offered_price_in_rupee  \
312                  3.9           78                  1,299
240                  3.6        1,114                  1,112
229                  3.1           81                  1,365
289                  NaN          NaN                  1,599
268                  3.9        1,333                  2,899
..                   ...          ...                    ...
359                  4.1      102,573                    NaN
365                  NaN          NaN                    NaN
366                  NaN          NaN                    NaN
367                  NaN          NaN                    NaN
368                  NaN          NaN                    NaN

     real_rice_in_rupee  Percent_off
312              1399.0          7.0
240              1799.0         38.0
229              1999.0         32.0
289              1999.0         20.0
268              3099.0          6.0
..                  ...          ...
359                 NaN          NaN
365                 NaN          NaN
366                 NaN          NaN
367                 NaN          NaN
368                 NaN          NaN

[369 rows x 7 columns]

In [56]:
# sort multiple columns
print(data.sort_values(["Brand", "Offered_price_in_rupee"]))

                                            phone_name     Brand  \
308  (Renewed) Redmi 7 (Comet Blue, 3GB RAM, IPS LC...  (Renewed
271     (Renewed) Nokia C3 Sand, 2GB RAM, 16GB Storage  (Renewed
352   (Renewed) Redmi Y3 (Elegant Blue, 32GB, 3GB RAM)  (Renewed
172  (Renewed) Nokia C01 Plus 4G, 5.45” HD+ Screen,...  (Renewed
231  (Renewed) Nokia C01 Plus 4G, 5.45” HD+ Screen,...  (Renewed
..                                                 ...       ...
348  vivo Y15C (Mystic Blue, 3GB RAM, 64GB Storage)...      vivo
365                                                NaN       NaN
366                                                NaN       NaN
367                                                NaN       NaN
368                                                NaN       NaN

     ratting_out_of_five Rated_people Offered_price_in_rupee  \
308                  3.1           14                  6,999
271                  3.2           97                  6,979
352                  3.2           33                  6,799
172                  3.0            2                  5,566
231                  3.0            2                  5,524
..                   ...          ...                    ...
348                  3.3           86                 10,499
365                  NaN          NaN                    NaN
366                  NaN          NaN                    NaN
367                  NaN          NaN                    NaN
368                  NaN          NaN                    NaN

     real_rice_in_rupee  Percent_off
308              9999.0         30.0
271              8499.0         17.0
352             13999.0         51.0
172              6790.0         18.0
231              6299.0         12.0
..                  ...          ...
348             14990.0         30.0
365                 NaN          NaN
366                 NaN          NaN
367                 NaN          NaN
368                 NaN          NaN

[369 rows x 7 columns]

# sort values basend on colums
print(data.sort_values(["Brand", "Offered_price_in_rupee"], ascending = [0, 1]))

In [59]:
# sort values basend on colums
print(data.sort_values(["Brand", "Offered_price_in_rupee"], ascending = [0, 1]))

                                            phone_name     Brand  \
348  vivo Y15C (Mystic Blue, 3GB RAM, 64GB Storage)...      vivo
72   vivo iQOO Z6 44W (Raven Black, 8GB RAM, 128GB ...      vivo
283  realme C11(2021) (Cool Grey, 2GB RAM, 32GB Sto...  realme C
128  realme C11 (2021) (Cool Blue, 2GB RAM, 32GB St...  realme C
105  realme narzo 50A Prime (Flash Black, 4GB RAM+6...    realme
..                                                 ...       ...
308  (Renewed) Redmi 7 (Comet Blue, 3GB RAM, IPS LC...  (Renewed
365                                                NaN       NaN
366                                                NaN       NaN
367                                                NaN       NaN
368                                                NaN       NaN

     ratting_out_of_five Rated_people Offered_price_in_rupee  \
348                  3.3           86                 10,499
72                   4.1        5,357                 16,999
283                  4.1       11,392                  7,190
128                  4.1       11,392                    NaN
105                  4.1        1,658                 11,499
..                   ...          ...                    ...
308                  3.1           14                  6,999
365                  NaN          NaN                    NaN
366                  NaN          NaN                    NaN
367                  NaN          NaN                    NaN
368                  NaN          NaN                    NaN

     real_rice_in_rupee  Percent_off
348             14990.0         30.0
72              20999.0         19.0
283              7999.0         10.0
128                 NaN          NaN
105             13499.0         15.0
..                  ...          ...
308              9999.0         30.0
365                 NaN          NaN
366                 NaN          NaN
367                 NaN          NaN
368                 NaN          NaN

[369 rows x 7 columns]

In [7]:
# adding values to new columns
import pandas as pd
data = pd.read_excel("amazon.xlsx")
data["Total"] = data["Offered_price_in_rupee"] + data["real_rice_in_rupee"]
print(data.head(5))

                                          phone_name    Brand  \
0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...  Samsung
1  Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB ...  Samsung
2  Redmi 9A Sport (Coral Green, 2GB RAM, 32GB Sto...    Redmi
3  I KALL Z4 Smartphone (5.5 Inch Display, 4GB, 3...   I Kall
4  Redmi 9A Sport (Carbon Black, 2GB RAM, 32GB St...    Redmi

   ratting_out_of_five Rated_people  Offered_price_in_rupee  \
0                  4.4       17,194                 39990.0
1                  4.1       44,417                 14999.0
2                  4.2      178,833                  6999.0
3                  NaN          NaN                  4999.0
4                  4.2      178,833                  6999.0

   real_rice_in_rupee  Percent_off     Total
0             74999.0         47.0  114989.0
1             16999.0         12.0   31998.0
2              8499.0         18.0   15498.0
3              6499.0         23.0   11498.0
4              7999.0         13.0   14998.0

In [20]:
# adding columns using index
data["Total"] = data.iloc[:,4:6].sum(axis = 1)
print(data)

                                            phone_name     Brand  \
0    Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...   Samsung
1    Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB ...   Samsung
2    Redmi 9A Sport (Coral Green, 2GB RAM, 32GB Sto...     Redmi
3    I KALL Z4 Smartphone (5.5 Inch Display, 4GB, 3...    I Kall
4    Redmi 9A Sport (Carbon Black, 2GB RAM, 32GB St...     Redmi
..                                                 ...       ...
364  (Renewed) Nokia G21 Android Smartphone, Dual S...  (Renewed
365                                                NaN       NaN
366                                                NaN       NaN
367                                                NaN       NaN
368                                                NaN       NaN

     ratting_out_of_five Rated_people  Offered_price_in_rupee  \
0                    4.4       17,194                 39990.0
1                    4.1       44,417                 14999.0
2                    4.2      178,833                  6999.0
3                    NaN          NaN                  4999.0
4                    4.2      178,833                  6999.0
..                   ...          ...                     ...
364                  3.0            4                 12499.0
365                  NaN          NaN                     NaN
366                  NaN          NaN                     NaN
367                  NaN          NaN                     NaN
368                  NaN          NaN                     NaN

     real_rice_in_rupee     Total  Percent_off
0               74999.0  114989.0         47.0
1               16999.0   31998.0         12.0
2                8499.0   15498.0         18.0
3                6499.0   11498.0         23.0
4                7999.0   14998.0         13.0
..                  ...       ...          ...
364             14499.0   26998.0         13.0
365                 NaN       0.0          NaN
366                 NaN       0.0          NaN
367                 NaN       0.0          NaN
368                 NaN       0.0          NaN

[369 rows x 8 columns]

In [15]:
data.columns

Index(['phone_name', 'Brand', 'ratting_out_of_five', 'Rated_people',
       'Offered_price_in_rupee', 'real_rice_in_rupee', 'Percent_off', 'Total'],
      dtype='object')

In [22]:
# changing positions of columns
data = data[['phone_name', 'Brand', 'ratting_out_of_five', 'Rated_people',
       'Offered_price_in_rupee', 'real_rice_in_rupee','Total', 'Percent_off']]
print(data.head(5))

                                          phone_name    Brand  \
0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...  Samsung
1  Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB ...  Samsung
2  Redmi 9A Sport (Coral Green, 2GB RAM, 32GB Sto...    Redmi
3  I KALL Z4 Smartphone (5.5 Inch Display, 4GB, 3...   I Kall
4  Redmi 9A Sport (Carbon Black, 2GB RAM, 32GB St...    Redmi

   ratting_out_of_five Rated_people  Offered_price_in_rupee  \
0                  4.4       17,194                 39990.0
1                  4.1       44,417                 14999.0
2                  4.2      178,833                  6999.0
3                  NaN          NaN                  4999.0
4                  4.2      178,833                  6999.0

   real_rice_in_rupee     Total  Percent_off
0             74999.0  114989.0         47.0
1             16999.0   31998.0         12.0
2              8499.0   15498.0         18.0
3              6499.0   11498.0         23.0
4              7999.0   14998.0         13.0

In [30]:
# dropping columns
import pandas as pd
data = pd.read_excel("amazon.xlsx")
data = data.drop(columns = ["Percent_off"])
print(data)

                                            phone_name     Brand  \
0    Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...   Samsung
1    Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB ...   Samsung
2    Redmi 9A Sport (Coral Green, 2GB RAM, 32GB Sto...     Redmi
3    I KALL Z4 Smartphone (5.5 Inch Display, 4GB, 3...    I Kall
4    Redmi 9A Sport (Carbon Black, 2GB RAM, 32GB St...     Redmi
..                                                 ...       ...
364  (Renewed) Nokia G21 Android Smartphone, Dual S...  (Renewed
365                                                NaN       NaN
366                                                NaN       NaN
367                                                NaN       NaN
368                                                NaN       NaN

     ratting_out_of_five Rated_people  Offered_price_in_rupee  \
0                    4.4       17,194                 39990.0
1                    4.1       44,417                 14999.0
2                    4.2      178,833                  6999.0
3                    NaN          NaN                  4999.0
4                    4.2      178,833                  6999.0
..                   ...          ...                     ...
364                  3.0            4                 12499.0
365                  NaN          NaN                     NaN
366                  NaN          NaN                     NaN
367                  NaN          NaN                     NaN
368                  NaN          NaN                     NaN

     real_rice_in_rupee
0               74999.0
1               16999.0
2                8499.0
3                6499.0
4                7999.0
..                  ...
364             14499.0
365                 NaN
366                 NaN
367                 NaN
368                 NaN

[369 rows x 6 columns]

In [38]:
# saving file in different format
import pandas as pd
data = pd.read_excel("amazon.xlsx")
data["Total"] = data["Offered_price_in_rupee"] + data["real_rice_in_rupee"]
data = data[['phone_name', 'Brand', 'ratting_out_of_five', 'Rated_people',
       'Offered_price_in_rupee', 'real_rice_in_rupee','Total', 'Percent_off']]
data.to_csv("amazon_new.csv", index=False)
data.to_excel("amazon_new.xlsx", index = False)
data.to_csv("amzon_new.txt", index = False, sep = "\t")

In [49]:
import pandas as pd
data = pd.read_csv("amazon_new.csv")
print(data.head(5))

                                          phone_name    Brand  \
0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...  Samsung
1  Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB ...  Samsung
2  Redmi 9A Sport (Coral Green, 2GB RAM, 32GB Sto...    Redmi
3  I KALL Z4 Smartphone (5.5 Inch Display, 4GB, 3...   I Kall
4  Redmi 9A Sport (Carbon Black, 2GB RAM, 32GB St...    Redmi

   ratting_out_of_five Rated_people  Offered_price_in_rupee  \
0                  4.4       17,194                 39990.0
1                  4.1       44,417                 14999.0
2                  4.2      178,833                  6999.0
3                  NaN          NaN                  4999.0
4                  4.2      178,833                  6999.0

   real_rice_in_rupee     Total  Percent_off
0             74999.0  114989.0         47.0
1             16999.0   31998.0         12.0
2              8499.0   15498.0         18.0
3              6499.0   11498.0         23.0
4              7999.0   14998.0         13.0

In [60]:
# filter based on conditions
samsung = data.loc[(data["Brand"]== "Samsung") & (data["ratting_out_of_five"] > 4.0)]
samsung = samsung.reset_index() # reseting index
print(samsung)
print(samsung.count())

    index                                         phone_name    Brand  \
0       0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...  Samsung
1       1  Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB ...  Samsung
2      22  Samsung Galaxy S20 FE 5G (Cloud Mint, 8GB RAM,...  Samsung
3      23  Samsung Galaxy M32 (Light Blue, 6GB RAM, 128GB...  Samsung
4      32  Samsung Galaxy M13 (Stardust Brown, 6GB, 128GB...  Samsung
5      44  Samsung Galaxy M13 (Aqua Green, 6GB, 128GB Sto...  Samsung
6      45  Samsung Galaxy S20 FE 5G (Cloud Lavender, 8GB ...  Samsung
7      46  Samsung Galaxy M13 (Aqua Green, 4GB, 64GB Stor...  Samsung
8      48  Samsung Galaxy M32 (Black, 4GB RAM, 64GB | FHD...  Samsung
9      52  Samsung Galaxy M52 5G (Blazing Black, 6GB RAM,...  Samsung
10     54  Samsung Galaxy M32 (Black, 6GB RAM, 128GB | FH...  Samsung
11     66  Samsung Galaxy M13 (Midnight Blue, 6GB, 128GB ...  Samsung
12     67  Samsung Galaxy M32 (Black, 4GB RAM, 64GB | FHD...  Samsung
13     83  Samsung Galaxy M13 (Midnight Blue, 4GB, 64GB S...  Samsung
14     88  Samsung Galaxy M13 (Aqua Green, 4GB, 64GB Stor...  Samsung
15     96  Samsung Galaxy M13 (Midnight Blue, 6GB, 128GB ...  Samsung
16    106  Samsung Galaxy M32 5G (Slate Black, 8GB RAM, 1...  Samsung
17    110  Samsung Galaxy M13 5G (Aqua Green, 6GB, 128GB ...  Samsung
18    112  Samsung Galaxy M13 (Aqua Green, 6GB, 128GB Sto...  Samsung
19    132  Samsung Galaxy M13 (Midnight Blue, 4GB, 64GB S...  Samsung
20    134  Samsung Galaxy M32 (Light Blue, 6GB RAM, 128GB...  Samsung
21    138  Samsung Galaxy M13 (Stardust Brown, 6GB, 128GB...  Samsung
22    141  Samsung Galaxy M21 2021 Edition (Arctic Blue, ...  Samsung
23    147  Samsung Galaxy M13 5G (Aqua Green, 6GB, 128GB ...  Samsung
24    154  Samsung Galaxy M13 5G (Midnight Blue, 4GB, 64G...  Samsung
25    168  Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB ...  Samsung
26    169  Samsung Galaxy M32 (Black, 6GB RAM, 128GB | FH...  Samsung
27    176  Samsung Galaxy M13 5G (Aqua Green, 4GB, 64GB S...  Samsung
28    180  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...  Samsung
29    194  Samsung Galaxy M13 5G (Midnight Blue, 6GB, 128...  Samsung
30    198  Samsung Galaxy M13 5G (Midnight Blue, 6GB, 128...  Samsung
31    201  Samsung Galaxy M13 (Stardust Brown, 4GB, 64GB ...  Samsung
32    206  Samsung Galaxy M52 5G (ICY Blue, 6GB RAM, 128G...  Samsung
33    218  Samsung Galaxy M13 (Stardust Brown, 4GB, 64GB ...  Samsung
34    243  Samsung Galaxy M13 5G (Aqua Green, 4GB, 64GB S...  Samsung
35    250  Samsung Galaxy M32 5G (Sky Blue, 6GB RAM, 128G...  Samsung
36    257  Samsung Galaxy S20 FE 5G (Cloud Mint, 8GB RAM,...  Samsung
37    284  Samsung Galaxy M13 5G (Stardust Brown, 6GB, 12...  Samsung
38    310  Samsung Galaxy M52 5G (ICY Blue, 8GB RAM, 128G...  Samsung
39    339  Samsung Galaxy M21 2021 Edition (Charcoal Blac...  Samsung

    ratting_out_of_five Rated_people  Offered_price_in_rupee  \
0                   4.4       17,194                 39990.0
1                   4.1       44,417                 14999.0
2                   4.4       17,194                 39990.0
3                   4.1       44,417                 16999.0
4                   4.1      157,088                 13999.0
5                   4.1      157,088                 13999.0
6                   4.4       17,194                 39990.0
7                   4.1      157,088                 11999.0
8                   4.1       44,417                 14999.0
9                   4.2       15,376                 24999.0
10                  4.1       44,417                 16999.0
11                  4.1      157,088                 13999.0
12                  4.1       44,417                 14999.0
13                  4.1      157,088                 11999.0
14                  4.1      157,088                 11999.0
15                  4.1      157,088                 13999.0
16                  4.1       29,553                 20999.0
17                  4.1      157,088                 15999.0
18                  4.1      157,088                 13999.0
19                  4.1      157,088                 11999.0
20                  4.1       44,417                 16999.0
21                  4.1      157,088                 13999.0
22                  4.2      223,112                 12999.0
23                  4.1      157,088                 15999.0
24                  4.1      157,088                 13999.0
25                  4.1       44,417                 14999.0
26                  4.1       44,417                 16999.0
27                  4.1      157,088                 13999.0
28                  4.4       17,194                 39990.0
29                  4.1      157,088                 15999.0
30                  4.1      157,088                 15999.0
31                  4.1      157,088                 11999.0
32                  4.2       15,376                 24999.0
33                  4.1      157,088                 11999.0
34                  4.1      157,088                 13999.0
35                  4.1       29,553                 18999.0
36                  4.4       17,194                 39990.0
37                  4.1      157,088                 15999.0
38                  4.2       15,376                 26999.0
39                  4.2      223,112                 12999.0

    real_rice_in_rupee     Total  Percent_off
0              74999.0  114989.0         47.0
1              16999.0   31998.0         12.0
2              74990.0  114980.0         47.0
3              18999.0   35998.0         11.0
4              17999.0   31998.0         22.0
5              17999.0   31998.0         22.0
6              74999.0  114989.0         47.0
7              14999.0   26998.0         20.0
8              16999.0   31998.0         12.0
9              34999.0   59998.0         29.0
10             18999.0   35998.0         11.0
11             17999.0   31998.0         22.0
12             16999.0   31998.0         12.0
13             14999.0   26998.0         20.0
14             14999.0   26998.0         20.0
15             17999.0   31998.0         22.0
16             25990.0   46989.0         19.0
17             19499.0   35498.0         18.0
18             17999.0   31998.0         22.0
19             14999.0   26998.0         20.0
20             18999.0   35998.0         11.0
21             17999.0   31998.0         22.0
22             14499.0   27498.0         10.0
23             19499.0   35498.0         18.0
24             16999.0   30998.0         18.0
25             16999.0   31998.0         12.0
26             18999.0   35998.0         11.0
27             16999.0   30998.0         18.0
28             74999.0  114989.0         47.0
29             19499.0   35498.0         18.0
30             19499.0   35498.0         18.0
31             14999.0   26998.0         20.0
32             34999.0   59998.0         29.0
33             14999.0   26998.0         20.0
34             16999.0   30998.0         18.0
35             23990.0   42989.0         21.0
36             74990.0  114980.0         47.0
37             19499.0   35498.0         18.0
38             36999.0   63998.0         27.0
39             14999.0   27998.0         13.0
index                     40
phone_name                40
Brand                     40
ratting_out_of_five       40
Rated_people              40
Offered_price_in_rupee    40
real_rice_in_rupee        40
Total                     40
Percent_off               40
dtype: int64

In [62]:
samsung.loc[samsung["phone_name"].str.contains("Blue")] # search text and filter data

,index,phone_name,Brand,ratting_out_of_five,Rated_people,Offered_price_in_rupee,real_rice_in_rupee,Total,Percent_off
1,1,"Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB ...",Samsung,4.1,"44,417",14999.0,16999.0,31998.0,12.0
3,23,"Samsung Galaxy M32 (Light Blue, 6GB RAM, 128GB...",Samsung,4.1,"44,417",16999.0,18999.0,35998.0,11.0
11,66,"Samsung Galaxy M13 (Midnight Blue, 6GB, 128GB ...",Samsung,4.1,"157,088",13999.0,17999.0,31998.0,22.0
13,83,"Samsung Galaxy M13 (Midnight Blue, 4GB, 64GB S...",Samsung,4.1,"157,088",11999.0,14999.0,26998.0,20.0
15,96,"Samsung Galaxy M13 (Midnight Blue, 6GB, 128GB ...",Samsung,4.1,"157,088",13999.0,17999.0,31998.0,22.0
19,132,"Samsung Galaxy M13 (Midnight Blue, 4GB, 64GB S...",Samsung,4.1,"157,088",11999.0,14999.0,26998.0,20.0
20,134,"Samsung Galaxy M32 (Light Blue, 6GB RAM, 128GB...",Samsung,4.1,"44,417",16999.0,18999.0,35998.0,11.0
22,141,"Samsung Galaxy M21 2021 Edition (Arctic Blue, ...",Samsung,4.2,"223,112",12999.0,14499.0,27498.0,10.0
24,154,"Samsung Galaxy M13 5G (Midnight Blue, 4GB, 64G...",Samsung,4.1,"157,088",13999.0,16999.0,30998.0,18.0
25,168,"Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB ...",Samsung,4.1,"44,417",14999.0,16999.0,31998.0,12.0
29,194,"Samsung Galaxy M13 5G (Midnight Blue, 6GB, 128...",Samsung,4.1,"157,088",15999.0,19499.0,35498.0,18.0
30,198,"Samsung Galaxy M13 5G (Midnight Blue, 6GB, 128...",Samsung,4.1,"157,088",15999.0,19499.0,35498.0,18.0
32,206,"Samsung Galaxy M52 5G (ICY Blue, 6GB RAM, 128G...",Samsung,4.2,"15,376",24999.0,34999.0,59998.0,29.0
35,250,"Samsung Galaxy M32 5G (Sky Blue, 6GB RAM, 128G...",Samsung,4.1,"29,553",18999.0,23990.0,42989.0,21.0
38,310,"Samsung Galaxy M52 5G (ICY Blue, 8GB RAM, 128G...",Samsung,4.2,"15,376",26999.0,36999.0,63998.0,27.0

In [78]:

import re
samsung.loc[samsung["phone_name"].str.contains("Brown" and "Black", flags = re.I, regex = True)]

,index,phone_name,Brand,ratting_out_of_five,Rated_people,Offered_price_in_rupee,real_rice_in_rupee,Total,Percent_off
8,48,"Samsung Galaxy M32 (Black, 4GB RAM, 64GB | FHD...",Samsung,4.1,"44,417",14999.0,16999.0,31998.0,12.0
9,52,"Samsung Galaxy M52 5G (Blazing Black, 6GB RAM,...",Samsung,4.2,"15,376",24999.0,34999.0,59998.0,29.0
10,54,"Samsung Galaxy M32 (Black, 6GB RAM, 128GB | FH...",Samsung,4.1,"44,417",16999.0,18999.0,35998.0,11.0
12,67,"Samsung Galaxy M32 (Black, 4GB RAM, 64GB | FHD...",Samsung,4.1,"44,417",14999.0,16999.0,31998.0,12.0
16,106,"Samsung Galaxy M32 5G (Slate Black, 8GB RAM, 1...",Samsung,4.1,"29,553",20999.0,25990.0,46989.0,19.0
26,169,"Samsung Galaxy M32 (Black, 6GB RAM, 128GB | FH...",Samsung,4.1,"44,417",16999.0,18999.0,35998.0,11.0
39,339,Samsung Galaxy M21 2021 Edition (Charcoal Blac...,Samsung,4.2,"223,112",12999.0,14999.0,27998.0,13.0

In [3]:
import pandas as pd
data = pd.read_csv("amazon_new.csv")
print(data)

                                            phone_name     Brand  \
0    Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...   Samsung
1    Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB ...   Samsung
2    Redmi 9A Sport (Coral Green, 2GB RAM, 32GB Sto...     Redmi
3    I KALL Z4 Smartphone (5.5 Inch Display, 4GB, 3...    I Kall
4    Redmi 9A Sport (Carbon Black, 2GB RAM, 32GB St...     Redmi
..                                                 ...       ...
360  iQOO vivo Z6 Pro 5G (Phantom Dusk, 12GB RAM, 2...      iQOO
361  realme narzo 30 5G (Racing Blue, 6GB RAM, 128G...    realme
362  Xiaomi 11i 5G (Purple Mist, 6GB RAM, 128GB Sto...    Xiaomi
363   (Renewed) Nokia 6.1 Plus TA-1083 DS (Blue, 64GB)  (Renewed
364  (Renewed) Nokia G21 Android Smartphone, Dual S...  (Renewed

     ratting_out_of_five Rated_people  Offered_price_in_rupee  \
0                    4.4       17,194                 39990.0
1                    4.1       44,417                 14999.0
2                    4.2     1,78,833                  6999.0
3                    NaN          NaN                  4999.0
4                    4.2     1,78,833                  6999.0
..                   ...          ...                     ...
360                  4.2        3,291                 28999.0
361                  4.2        2,186                 16999.0
362                  3.7           22                 22990.0
363                  3.4          133                 16999.0
364                  3.0            4                 12499.0

     real_rice_in_rupee     Total  Percent_off
0               74999.0  114989.0         47.0
1               16999.0   31998.0         12.0
2                8499.0   15498.0         18.0
3                6499.0   11498.0         23.0
4                7999.0   14998.0         13.0
..                  ...       ...          ...
360             33990.0   62989.0         15.0
361             17999.0   34998.0          6.0
362             29999.0   52989.0         23.0
363             18599.0   35598.0          8.0
364             14499.0   26998.0         13.0

[365 rows x 8 columns]

In [6]:
# aggrigate statistics
data.groupby(["Brand"]).mean().sort_values("ratting_out_of_five") # group by values for comparision

,ratting_out_of_five,Offered_price_in_rupee,real_rice_in_rupee,Total,Percent_off
Brand,,,,,
(Renewed) Tecno,2.500000,22099.000000,25999.000000,48098.000000,15.000000
Do,2.600000,5500.000000,6500.000000,12000.000000,15.000000
(Renewed,3.040000,9856.200000,12817.200000,22673.400000,22.000000
Panasonic,3.100000,7290.000000,10999.000000,18289.000000,34.000000
(Renewed) Samsung,3.200000,44998.500000,58249.000000,103247.500000,19.000000
(Renewed) realme,3.200000,7290.000000,7999.000000,15289.000000,8.000000
Micromax,3.233333,3825.333333,4765.666667,8591.000000,28.000000
itel,3.266667,5007.666667,5665.666667,10673.333333,12.000000
Moto,3.300000,17499.000000,22999.000000,40498.000000,24.000000
I Kall,3.319512,5835.956522,7933.782609,13769.739130,25.369565
NOKIA,3.400000,10998.000000,13499.000000,24497.000000,19.000000
(Renewed) Nokia,3.500000,6519.000000,9749.333333,16268.333333,25.333333
POCO,3.550000,14999.000000,17999.000000,32998.000000,17.000000
Jio,3.666667,4640.166667,7330.833333,11971.000000,36.000000
vivo,3.700000,13749.000000,17994.500000,31743.500000,24.500000
Nokia,3.817391,10645.800000,13561.500000,24400.916667,20.750000
KECHAODA,3.900000,1299.000000,1399.000000,2698.000000,7.000000
Itel,3.900000,2899.000000,3099.000000,5998.000000,6.000000
SAMSUNG,3.900000,15200.000000,23999.000000,39199.000000,37.000000
Lava,3.925000,8122.750000,9624.000000,17746.750000,13.000000
Tecno,3.988889,10737.888889,13675.470588,24515.647059,21.470588
MOTOROLA,4.000000,10080.000000,12149.000000,22229.000000,17.000000
Alcatel,4.000000,6490.000000,9990.000000,16480.000000,35.000000
Motorola,4.000000,10625.000000,12999.000000,23624.000000,18.000000
Xiaomi,4.000000,20494.500000,26499.000000,46993.500000,23.000000
Realme,4.000000,13859.000000,18999.000000,32858.000000,27.000000
Samsung,4.014516,20531.396825,27823.396825,48354.793651,22.349206
Redmi,4.067273,13229.379310,16805.896552,30035.275862,21.000000
realme C,4.100000,7190.000000,7999.000000,15189.000000,10.000000
Tecno Spark,4.100000,9499.000000,12999.000000,22498.000000,27.000000
Google,4.100000,14990.000000,70000.000000,84990.000000,79.000000
Vivo,4.125000,17991.875000,22365.000000,40356.875000,21.125000
realme,4.152941,12059.000000,13665.666667,25724.666667,11.533333
iQOO,4.176923,22459.153846,27764.076923,50223.230769,20.000000
MI,4.200000,8999.000000,9999.000000,18998.000000,10.000000
Oppo,4.200000,11990.000000,17990.000000,29980.000000,33.000000
OnePlus,4.207692,30749.000000,40599.000000,76998.000000,10.400000
OPPO,4.238462,11720.769231,16374.615385,28095.384615,28.769231
(Renewed) Realme,4.300000,13740.000000,16999.000000,30739.000000,19.000000
GT,4.300000,23399.000000,26999.000000,50398.000000,13.000000
Apple,4.600000,68900.000000,79900.000000,148800.000000,14.000000
India,5.000000,48500.000000,56000.000000,104500.000000,13.000000
AppIe,NaN,13599.000000,24999.000000,38598.000000,46.000000
BB,NaN,6399.000000,12999.000000,19398.000000,51.000000
Infinix,NaN,9799.000000,12999.000000,22798.000000,25.000000
K460,NaN,6000.000000,NaN,NaN,NaN
Nillkin,NaN,1599.000000,1999.000000,3598.000000,20.000000
Nuveck,NaN,4529.666667,6479.000000,11008.666667,28.000000
SHIVANSH,NaN,3490.000000,5990.000000,9480.000000,42.000000
SHIVANSH LYF,NaN,3350.000000,8990.000000,12340.000000,63.000000

In [9]:
data.groupby(["Brand"]).sum().sort_values("Percent_off") # group by values for comparision

,ratting_out_of_five,Offered_price_in_rupee,real_rice_in_rupee,Total,Percent_off
Brand,,,,,
K460,0.0,6000.0,0.0,0.0,0.0
Itel,3.9,2899.0,3099.0,5998.0,6.0
KECHAODA,3.9,1299.0,1399.0,2698.0,7.0
(Renewed) realme,3.2,7290.0,7999.0,15289.0,8.0
realme C,8.2,7190.0,7999.0,15189.0,10.0
MI,8.4,8999.0,9999.0,18998.0,10.0
GT,4.3,23399.0,26999.0,50398.0,13.0
India,5.0,48500.0,56000.0,104500.0,13.0
(Renewed) Tecno,2.5,22099.0,25999.0,48098.0,15.0
Do,2.6,5500.0,6500.0,12000.0,15.0
POCO,7.1,14999.0,17999.0,32998.0,17.0
Motorola,8.0,10625.0,12999.0,23624.0,18.0
NOKIA,3.4,10998.0,13499.0,24497.0,19.0
(Renewed) Realme,4.3,13740.0,16999.0,30739.0,19.0
Nillkin,0.0,1599.0,1999.0,3598.0,20.0
Moto,3.3,17499.0,22999.0,40498.0,24.0
Tecno Spark,4.1,9499.0,12999.0,22498.0,27.0
Realme,4.0,13859.0,18999.0,32858.0,27.0
Panasonic,3.1,7290.0,10999.0,18289.0,34.0
MOTOROLA,8.0,20160.0,24298.0,44458.0,34.0
Alcatel,4.0,6490.0,9990.0,16480.0,35.0
itel,9.8,15023.0,16997.0,32020.0,36.0
SAMSUNG,3.9,15200.0,23999.0,39199.0,37.0
(Renewed) Samsung,3.2,89997.0,116498.0,206495.0,38.0
SHIVANSH,0.0,3490.0,5990.0,9480.0,42.0
Apple,13.8,206700.0,239700.0,446400.0,42.0
AppIe,0.0,13599.0,24999.0,38598.0,46.0
vivo,7.4,27498.0,35989.0,63487.0,49.0
Infinix,0.0,19598.0,25998.0,45596.0,50.0
OnePlus,54.7,368988.0,202995.0,384990.0,52.0
SHIVANSH LYF,0.0,3350.0,8990.0,12340.0,63.0
Oppo,8.4,23980.0,35980.0,59960.0,66.0
(Renewed) Nokia,10.5,19557.0,29248.0,48805.0,76.0
Google,4.1,14990.0,70000.0,84990.0,79.0
Nuveck,0.0,13589.0,19437.0,33026.0,84.0
Micromax,9.7,11476.0,14297.0,25773.0,84.0
Xiaomi,16.0,81978.0,105996.0,187974.0,92.0
Lava,31.4,64982.0,76992.0,141974.0,104.0
BB,0.0,19197.0,38997.0,58194.0,153.0
Vivo,33.0,143935.0,178920.0,322855.0,169.0
realme,70.6,180885.0,204985.0,385870.0,173.0
Jio,22.0,27841.0,43985.0,71826.0,216.0
(Renewed,30.4,98562.0,128172.0,226734.0,220.0
iQOO,54.3,291969.0,360933.0,652902.0,260.0
Tecno,71.8,193282.0,232483.0,416766.0,365.0
OPPO,55.1,152370.0,212870.0,365240.0,374.0
Nokia,87.8,266145.0,325476.0,585622.0,498.0
I Kall,136.1,268454.0,364954.0,633408.0,1167.0
Redmi,223.7,767304.0,974742.0,1742046.0,1218.0
Samsung,248.9,1293478.0,1752874.0,3046352.0,1408.0

In [10]:
data.groupby(["Brand"]).count().sort_values("Percent_off") # group by values for comparision

,phone_name,ratting_out_of_five,Rated_people,Offered_price_in_rupee,real_rice_in_rupee,Total,Percent_off
Brand,,,,,,,
K460,1,0,0,1,0,0,0
Moto,1,1,1,1,1,1,1
NOKIA,1,1,1,1,1,1,1
Nillkin,1,0,0,1,1,1,1
MI,2,2,2,1,1,1,1
KECHAODA,1,1,1,1,1,1,1
POCO,3,2,2,1,1,1,1
Itel,1,1,1,1,1,1,1
Panasonic,1,1,1,1,1,1,1
India,1,1,1,1,1,1,1
Realme,2,1,1,1,1,1,1
realme C,2,2,2,1,1,1,1
Google,1,1,1,1,1,1,1
Do,1,1,1,1,1,1,1
SAMSUNG,1,1,1,1,1,1,1
SHIVANSH,1,0,0,1,1,1,1
AppIe,1,0,0,1,1,1,1
Alcatel,1,1,1,1,1,1,1
(Renewed) realme,1,1,1,1,1,1,1
(Renewed) Tecno,1,1,1,1,1,1,1
SHIVANSH LYF,1,0,0,1,1,1,1
(Renewed) Realme,1,1,1,1,1,1,1
Tecno Spark,1,1,1,1,1,1,1
GT,1,1,1,1,1,1,1
Motorola,2,2,2,1,1,1,1
Oppo,2,2,2,2,2,2,2
vivo,2,2,2,2,2,2,2
MOTOROLA,4,2,2,2,2,2,2
(Renewed) Samsung,2,1,1,2,2,2,2
Infinix,2,0,0,2,2,2,2
itel,3,3,3,3,3,3,3
(Renewed) Nokia,3,3,3,3,3,3,3
Micromax,3,3,3,3,3,3,3
BB,3,0,1,3,3,3,3
Apple,3,3,3,3,3,3,3
Nuveck,3,0,1,3,3,3,3
Xiaomi,4,4,4,4,4,4,4
OnePlus,13,13,13,12,5,5,5
Jio,6,6,6,6,6,6,6
Lava,8,8,8,8,8,8,8
Vivo,8,8,8,8,8,8,8
(Renewed,10,10,10,10,10,10,10
OPPO,13,13,13,13,13,13,13
iQOO,13,13,13,13,13,13,13
realme,17,17,17,15,15,15,15
Tecno,18,18,18,18,17,17,17
Nokia,26,23,23,25,24,24,24
I Kall,46,41,41,46,46,46,46
Redmi,59,55,56,58,58,58,58
Samsung,63,62,62,63,63,63,63

# working with large data sets

In [11]:
import pandas as pd
data = pd.read_csv("amazon_new.csv")
print(data.head(5))

                                          phone_name    Brand  \
0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...  Samsung
1  Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB ...  Samsung
2  Redmi 9A Sport (Coral Green, 2GB RAM, 32GB Sto...    Redmi
3  I KALL Z4 Smartphone (5.5 Inch Display, 4GB, 3...   I Kall
4  Redmi 9A Sport (Carbon Black, 2GB RAM, 32GB St...    Redmi

   ratting_out_of_five Rated_people  Offered_price_in_rupee  \
0                  4.4       17,194                 39990.0
1                  4.1       44,417                 14999.0
2                  4.2     1,78,833                  6999.0
3                  NaN          NaN                  4999.0
4                  4.2     1,78,833                  6999.0

   real_rice_in_rupee     Total  Percent_off
0             74999.0  114989.0         47.0
1             16999.0   31998.0         12.0
2              8499.0   15498.0         18.0
3              6499.0   11498.0         23.0
4              7999.0   14998.0         13.0

In [17]:
# shrink data using chunksize while working on large datasets
for data in pd.read_csv("amazon_new.csv", chunksize = 100):
    print(data)

                                           phone_name    Brand  \
0   Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...  Samsung
1   Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB ...  Samsung
2   Redmi 9A Sport (Coral Green, 2GB RAM, 32GB Sto...    Redmi
3   I KALL Z4 Smartphone (5.5 Inch Display, 4GB, 3...   I Kall
4   Redmi 9A Sport (Carbon Black, 2GB RAM, 32GB St...    Redmi
..                                                ...      ...
95  I KALL Z5 Smartphone (3GB, 16GB) | Android 10....   I Kall
96  Samsung Galaxy M13 (Midnight Blue, 6GB, 128GB ...  Samsung
97  realme narzo 50i (Carbon Black, 4GB RAM+64GB S...   realme
98  Samsung Galaxy M33 5G (Deep Ocean Blue, 8GB, 1...  Samsung
99  I KALL Z5 Smartphone (3GB, 16GB) | Android 10....   I Kall

    ratting_out_of_five Rated_people  Offered_price_in_rupee  \
0                   4.4       17,194                 39990.0
1                   4.1       44,417                 14999.0
2                   4.2     1,78,833                  6999.0
3                   NaN          NaN                  4999.0
4                   4.2     1,78,833                  6999.0
..                  ...          ...                     ...
95                  5.0            2                  4699.0
96                  4.1     1,57,088                 13999.0
97                  4.0       19,708                  8999.0
98                  4.0        8,508                 19499.0
99                  5.0            2                  4699.0

    real_rice_in_rupee     Total  Percent_off
0              74999.0  114989.0         47.0
1              16999.0   31998.0         12.0
2               8499.0   15498.0         18.0
3               6499.0   11498.0         23.0
4               7999.0   14998.0         13.0
..                 ...       ...          ...
95              5999.0   10698.0         22.0
96             17999.0   31998.0         22.0
97              9999.0   18998.0         10.0
98             25999.0   45498.0         25.0
99              5999.0   10698.0         22.0

[100 rows x 8 columns]
                                            phone_name    Brand  \
100  Nokia C21 Plus Android Smartphone, Dual SIM, 3...    Nokia
101  Lava Z21 (2GB RAM, 32GB ROM)-Blue| Octa Core P...     Lava
102  Tecno Camon 19 Neo (Ice Mirror, 6GB RAM, 128GB...    Tecno
103           Nokia 5.1 Plus (Black, 32 GB) (3 GB RAM)    Nokia
104  Redmi Note 10T 5G (Graphite Black, 4GB RAM, 64...    Redmi
..                                                 ...      ...
195  BB Z10 Compatible with BlackBerry with 8 MP Ca...       BB
196  I KALL Z2 Smartphone (6 Inch, 3GB, 16GB) (Dark...   I Kall
197  Vivo Y73 (Roman Black, 8GB RAM, 128GB Storage)...     Vivo
198  Samsung Galaxy M13 5G (Midnight Blue, 6GB, 128...  Samsung
199  I KALL Z2 Smartphone (6 Inch, 3GB, 16GB) (Gros...   I Kall

     ratting_out_of_five Rated_people  Offered_price_in_rupee  \
100                  4.2            3                 11299.0
101                  3.4          229                  5599.0
102                  3.3            5                 14999.0
103                  3.9          265                  9999.0
104                  4.2     1,21,362                 11999.0
..                   ...          ...                     ...
195                  NaN          NaN                  6599.0
196                  3.0            2                  4999.0
197                  4.3        2,295                 19990.0
198                  4.1     1,57,088                 15999.0
199                  3.0            2                  4999.0

     real_rice_in_rupee    Total  Percent_off
100             12999.0  24298.0         13.0
101              5999.0  11598.0          7.0
102             18499.0  33498.0         19.0
103             15999.0  25998.0         38.0
104             16999.0  28998.0         29.0
..                  ...      ...          ...
195             12999.0  19598.0         49.0
196              6499.0  11498.0         23.0
197             24990.0  44980.0         20.0
198             19499.0  35498.0         18.0
199              6499.0  11498.0         23.0

[100 rows x 8 columns]
                                            phone_name    Brand  \
200  itel A48 (Gradation Green, 2GB RAM, 32GB Storage)     itel
201  Samsung Galaxy M13 (Stardust Brown, 4GB, 64GB ...  Samsung
202  Jio Phone Next 32 GB ROM, 2 GB RAM, Blue Smart...      Jio
203           POCO C31 (Shadow Gray, 64 GB) (4 GB RAM)     POCO
204  iQOO vivo Z6 44W (Lumina Blue, 4GB RAM, 128GB ...     iQOO
..                                                 ...      ...
295  Redmi 9 Activ (Carbon Black, 6GB RAM, 128GB St...    Redmi
296  iQOO vivo Z6 44W (Lumina Blue, 8GB RAM, 128GB ...     iQOO
297  Redmi Note 11T 5G (Matte Black, 6GB RAM, 128GB...    Redmi
298    Redmi Poco C3 (Arctic Blue, 3 RAM / 32 Storage)    Redmi
299  OnePlus 10R 5G (Sierra Black, 12GB RAM, 256GB ...  OnePlus

     ratting_out_of_five Rated_people  Offered_price_in_rupee  \
200                  3.8          802                  6489.0
201                  4.1     1,57,088                 11999.0
202                  4.3            2                  4880.0
203                  3.7           34                     NaN
204                  4.1        5,357                 14499.0
..                   ...          ...                     ...
295                  4.2     1,69,715                 10999.0
296                  4.1        5,357                 16999.0
297                  4.1       16,295                 15999.0
298                  4.0          691                  7888.0
299                  4.2        2,430                 38999.0

     real_rice_in_rupee    Total  Percent_off
200              6999.0  13488.0          7.0
201             14999.0  26998.0         20.0
202              8590.0  13470.0         43.0
203                 NaN      NaN          NaN
204             19999.0  34498.0         28.0
..                  ...      ...          ...
295             12999.0  23998.0         15.0
296             20999.0  37998.0         19.0
297             20999.0  36998.0         24.0
298              9999.0  17887.0         21.0
299             42999.0  81998.0          9.0

[100 rows x 8 columns]
                                            phone_name     Brand  \
300         I KALL K435 Smartphone (4GB, 64GB) (Green)    I Kall
301  iQOO Neo 6 5G (Dark Nova, 12GB RAM, 256GB Stor...      iQOO
302  Vivo Y73 (Diamond Flare, 8GB RAM, 128GB Storag...      Vivo
303  Redmi 10 Power (Sporty Orange, 8GB RAM, 128GB ...     Redmi
304  iQOO 9 SE 5G (Sunset Sierra, 8GB RAM, 128GB St...      iQOO
..                                                 ...       ...
360  iQOO vivo Z6 Pro 5G (Phantom Dusk, 12GB RAM, 2...      iQOO
361  realme narzo 30 5G (Racing Blue, 6GB RAM, 128G...    realme
362  Xiaomi 11i 5G (Purple Mist, 6GB RAM, 128GB Sto...    Xiaomi
363   (Renewed) Nokia 6.1 Plus TA-1083 DS (Blue, 64GB)  (Renewed
364  (Renewed) Nokia G21 Android Smartphone, Dual S...  (Renewed

     ratting_out_of_five Rated_people  Offered_price_in_rupee  \
300                  3.0            2                  7599.0
301                  4.4        5,937                 33999.0
302                  4.3        2,295                 19989.0
303                  3.7           69                 14999.0
304                  4.3        5,223                 33990.0
..                   ...          ...                     ...
360                  4.2        3,291                 28999.0
361                  4.2        2,186                 16999.0
362                  3.7           22                 22990.0
363                  3.4          133                 16999.0
364                  3.0            4                 12499.0

     real_rice_in_rupee    Total  Percent_off
300             11999.0  19598.0         37.0
301             39999.0  73998.0         15.0
302             24990.0  44979.0         20.0
303             18999.0  33998.0         21.0
304             39990.0  73980.0         15.0
..                  ...      ...          ...
360             33990.0  62989.0         15.0
361             17999.0  34998.0          6.0
362             29999.0  52989.0         23.0
363             18599.0  35598.0          8.0
364             14499.0  26998.0         13.0

[65 rows x 8 columns]